
@font-face {
    font-family: 'gt_walsheim_problack';
    src: url('gt-walsheim-black-webfont.woff2') format('woff2'),
         url('gt-walsheim-black-webfont.woff') format('woff'),
         url('gt-walsheim-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_probold';
    src: url('gt-walsheim-bold-webfont.woff2') format('woff2'),
         url('gt-walsheim-bold-webfont.woff') format('woff'),
         url('gt-walsheim-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('gt-walsheim-medium-webfont.woff2') format('woff2'),
         url('gt-walsheim-medium-webfont.woff') format('woff'),
         url('gt-walsheim-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'true_boldregular';
    src: url('tbold-webfont.woff2') format('woff2'),
         url('tbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'true_bold_specialregular';
    src: url('tboldspecial-webfont.woff2') format('woff2'),
         url('tboldspecial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'true_lightregular';
    src: url('tlight-webfont.woff2') format('woff2'),
         url('tlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'true_mediumregular';
    src: url('tmedium-webfont.woff2') format('woff2'),
         url('tmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}