@charset "utf-8";
@import url(reset.css);

/* ---------------------------------------------------------------- general selector
---------------------------------------------------------------------------------- */
:root { scroll-behavior:auto; }
body {transition:none;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; text-shadow: rgba(0, 0, 0, .01) 0 0 1px; font-family: 'True';line-height:1;color:#333; font-size:1.5em!important; }
* { box-sizing:border-box;}

a { color:#333; outline:none; text-decoration:none; transition:all ease .5s; cursor:pointer;}
a:hover { text-decoration:none; color:#dd1b24;}
a:focus { outline:none; box-shadow:none;}
img { max-width:100%;}
select {-webkit-appearance:none;}
.wrapper {float:left; width:100%; overflow: hidden; position: relative; }
.sec { float:left; width:100%; position:relative; margin-bottom:100px;}
.sec-pd { float:left; width:100%; position:relative; padding-bottom:100px;}
.box  { float:left; width:100%; position:relative;}
.abs { position:absolute;}
.abs img { float:left; width: 100%; pointer-events: none;}
.abs img { float:none; width:auto;}
.abs > img {float: left; width: 100%; pointer-events: none;}
.ele { left:50%; top:50%; position:absolute;}
.radius { position:relative; overflow:hidden; border-radius:10px;}
.tinline { display:inline-block;}
.container-1360 { max-width:1360px}
.container-960 { max-width:960px}
.loadpage { position:fixed; z-index:99999; top: 0; left: 0 ; width: 100%; height: 100%; background:url(../img/skin/logo-true5g.png) no-repeat center center #fff; background-size:200px; }

.m-0-auto{margin: 0 auto;}

.section-body { float:left; width:100%; padding-top:150px;}
.blank-png { float:left; width:100%;  position:relative;}
.blank-png img {float:left;}
.bg-fullwidth { background-repeat:no-repeat; background-position: center top; background-size:cover;}
.swiper-wrapper { height: auto;}
.swiper-button { margin-top: 0; transform: translateY(-50%); cursor: pointer; width: 45px; padding:15px 12px; height: auto; background-color: #fff; border-radius: 5px; border:1px solid #eee; box-shadow: 0 10px 5px 0 rgba(0, 0, 0, .1);}
.swiper-button img,.swiper-button svg  { float:left;fill:#e4464e; }
.swiper-button-prev, .swiper-container-rtl .swiper-button-prev{background-image: none; left:-20px;}
.swiper-button-next, .swiper-container-rtl .swiper-button-next{background-image: none; right:-20px;}
.swiper-button:hover {background: rgb(160,43,94); background: linear-gradient(90deg, rgba(160,43,94,1) 0%, rgba(218,29,113,1) 50%, rgba(237,133,83,1) 100%);}
.swiper-button:hover img,.swiper-button:hover svg { fill:#fff;}
.swiper-pagination { width: 100%;} 
.swiper-pagination-bullet { transition: all ease .4s; margin: 0 5px; border-radius: 1em; height:5px; width: 5px;}
.swiper-pagination-bullet-active { width: 40px;background-color:#e4464e;}

.t-red { color:#dd1b24;}
.t-gray { color:#373b3f;}
.t-bold { font-family: 'TrueBold';}
.t-medium { font-family: 'True';}
.t-light { font-family: 'TrueLight';}
.t-black { font-family: 'TrueBoldSpecial';}
b, strong {font-family:'TrueBold'; font-weight: normal; }
u, .txt-upper {text-transform: uppercase;}
.text-gradient {background: #fa9f1d;background: -webkit-linear-gradient(to right, #fa9f1d 19%,#ec2c4b 54%, #ec2c4b 100%);background: -moz-linear-gradient(to right, #fa9f1d 19%,#ec2c4b 54%, #ec2c4b 100%);background: linear-gradient(to right, #fa9f1d 19%,#ec2c4b 54%, #ec2c4b 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;display:inline-block ;padding-top: 8px;    font-family: 'TrueBold';}
.font-weight-bold {font-family:'TrueBold'; font-weight:normal!important;}

.float-left { float:left;}
.float-right { float:right;}

.fw,.section { float:left; width:100%;}
.container  { padding-left: 15px; padding-right: 15px;}
.container-1600 { max-width:1360px}
.container-fluid { max-width:none; padding:0px;}
.container:not(.container-fluid) .container { padding:0px}
.cont-contain { float:left; width:100%; }
.cont-abs {position:absolute;top:0px; left:0px;height:100%; }
.cont-img { width:50%; float:left; } 
.cont-txt { width:50%; float:left; } 
.image-fluid {display: block;position: relative;left: 50%;width: 1920px;height: auto;-webkit-transform: translateX(-50%);transform: translateX(-50%); }
.pd { padding:50px 0;}
.ele_img1,.ele_img2,.ele_img3,.ele_img4 {pointer-events: none;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { display:none;}

.scroll{width: 100%; height: 600px;overflow:hidden;overflow-y:auto;}
.scroll::-webkit-scrollbar-track{background-color: #F5F5F5;border-radius: 10px;}
.scroll::-webkit-scrollbar{width: 6px;background-color: #d2d2d2;border-radius: 10px;}
.scroll::-webkit-scrollbar-thumb{background-color: #f10000;border-radius: 10px;}

/*
 |*******************************************************************************************
 | VIDEO
 |*******************************************************************************************
*/

.video-container {	display:inline-block;margin:auto; position: relative; width:100%; float:left;}
.video-space { float:left; width:100%; position:relative; transition:all .5s ease;z-index:1;}
.video-space img { float:left; width:100%;}
.video-loop-space {float: left;width: 100%; height: 100%; position: relative;transition: all .5s ease;z-index: 1;}
.video-loop-space img { float:left; width:100%;}
.loop-play{opacity: 0; z-index: -1; transition: z-index .01s 1s, opacity 1s;}
.video-button { position:absolute; transition:all .5s ease; z-index:2;}
.video-put { position:absolute; top:0px; left:0px; width:100%; height:100%;z-index:3; }
.video-put .player { position:absolute; top:0px; left:0px; width:100%; height:100%;}
.click-to-play-video { cursor:pointer;}
.videoplay-icon { transform-origin: center center; width:100px; height:100px; position:absolute; z-index: 1; top:50%; left:50%; transform:translate(-50%,-50%); display:flex; align-items:center; justify-content:center; ; font-size:20px; border-radius:100%; transition:all ease .4s;}
.videoplay-icon img { transform-origin: center center; transition:all ease .4s;}
.container-video-loop {cursor: pointer; display: inline-block;margin: auto;position: relative;width: 100%;float: left;background-color: #000;}
.video-text { text-transform:uppercase; font-size:16px; font-weight:300; color:#fff; text-align:left; margin-top:10px; }

.video-loop {position:absolute; height: 100%;}
.inactive-state {background-repeat: no-repeat;background-size: 100%;}

.box-video {float:left; width:100%;}
.box-video:hover .videoplay-icon img { transform: scale(1.1);transform-origin: center center; }
/*
 |*******************************************************************************************
 | FOOTER
 |*******************************************************************************************
*/
footer { float: left; width: 100%;}
 
/*
 |*******************************************************************************************
 | COLOR
 |*******************************************************************************************
*/
.txt-gdcolor {background: rgb(250,175,64);background: -webkit-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);background: -moz-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-blue {background: rgb(19,64,191);background: -webkit-linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);background: -moz-linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);background: linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-orange {background: rgb(220,31,0);background: -webkit-linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);background: -moz-linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);background: linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-pink {background: rgb(188,0,148);background: -webkit-linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);background: -moz-linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);background: linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-darkblue {background: rgb(13,1,103);background: linear-gradient(90deg, rgba(13,1,103,1) 0%, rgba(0,2,175,1) 35%, rgba(6,0,255,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-red {background: rgb(103,1,36);background: linear-gradient(90deg, rgba(103,1,36,1) 0%, rgba(175,0,49,1) 35%, rgba(255,0,63,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.bg-gdcolor {background: rgb(250,175,64);background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);}
.bg-gdcolor-blue {background: rgb(19,64,191);background: linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);}
.bg-gdcolor-orange { background: rgb(220,31,0);background: linear-gradient(90deg, rgba(220,31,0,1) 0%, rgba(246,146,30,1) 100%);}
.bg-gdcolor-pink { background: rgb(188,0,148); background: linear-gradient(90deg, rgba(188,0,148,1) 0%, rgba(217,0,139,1) 100%);}
.bg-gdcolor-darkblue {background: rgb(13,1,103);background: linear-gradient(90deg, rgba(13,1,103,1) 0%, rgba(0,2,175,1) 35%, rgba(6,0,255,1) 100%);}
.bg-gdcolor-red {background: rgb(103,1,36);background: linear-gradient(90deg, rgba(103,1,36,1) 0%, rgba(175,0,49,1) 35%, rgba(255,0,63,1) 100%);}
/*
 |*******************************************************************************************
 | CONTENT
 |*******************************************************************************************
*/

.box-content { float:left; width:100%; font-size:1em; color:#333; line-height:1; position:relative; font-family:'True'; }
.box-content h1	{ font-size:2.8em; line-height:0.9; }
.box-content h2	{ font-size:2.4em; line-height:0.9;  }
.box-content h3	{ font-size:2em; line-height:0.9;  }
.box-content h4	{ font-size:1.7em; line-height:1;  }
.box-content h5	{ font-size:1.4em; line-height:1;  }
.box-content h6	{ font-size:1.2em; line-height:1; }
.box-content h1 ,.box-content h2 ,.box-content h3 ,.box-content h4 ,.box-content h5 ,.box-content h6  { }
.box-content h1[style^=""] ,.box-content h2[style^=""] ,.box-content h3[style^=""] ,.box-content h4[style^=""] ,.box-content h5[style^=""] ,.box-content h6:has [style] {-webkit-text-fill-color: inherit;}


/* .box-content h1 span,.box-content h2 span,.box-content h3 span,.box-content h4 span,.box-content h5 span,.box-content h6 span { color:#ff301c;-webkit-text-fill-color: red;} */
.box-content p { line-height:1; }
.box-content a:not([class*=btn]) { color:#ff301c; text-decoration:underline;word-break:break-word ;}
.box-content a:not([class*=btn]):hover { text-decoration:underline;}
.box-content iframe	{  border:none; display:block;max-width: 100%;}
.box-content p img {  margin-bottom:0px;vertical-align:middle;}
.box-content img { max-width:100%; }
.box-content ol	{ display:block; list-style:decimal outside;  padding-left:25px; }
.box-content ul	{ display:block; list-style:none outside ;margin-left:0px;  padding-left:25px; position:relative;}
.box-content ul > li { list-style: disc;}
.box-content li	{ padding-bottom:3px; position:relative; }
.box-content hr { border-top: 2px solid #ccc; width:100%; margin-bottom:20px; margin-top:20px;}


.box-content-button {font-size:1em; }
.box-content-button img { margin-bottom:0px;}
.box-content-button .btn { background-color:#fff; border-radius:50px; text-align:center; padding:0.5em 2em; color:#f10000;font-family: 'TrueBoldSpecial'; font-size:1.2em; line-height:0.6;}
.box-content-button .btn span { background: #B63A8B;background: -webkit-linear-gradient(to top, #B63A8B 0%, #E52C30 100%);background: -moz-linear-gradient(to top, #B63A8B 0%, #E52C30 100%);background: linear-gradient(to top, #B63A8B 0%, #E52C30 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.box-content-button.button-hoz { width:auto; float: none; display: inline-block;}
.box-content-button.button-hoz + .box-content-button.button-hoz { margin-left:10px;}
.box-content-button .btn:hover { background-color:#e62a29; color:#fff; }
.box-content-button .btn:focus { box-shadow:none;}
.box-content-button .btn:hover span { background:none; color:#fff;-webkit-text-fill-color:inherit;}




.box-content-space { height:15px; float:left; width:100%;}
.box-content-editor h1 ,.box-content-editor h2 ,.box-content-editor h3, .box-content-editor h4 ,.box-content-editor h5 ,.box-content-editor h6 {-webkit-text-fill-color: inherit; background:none; }

.sec-title { margin-bottom: 20px; text-align: center;float: left; width: 100%;}
.sec-title .title-main { margin-bottom: 0px; display: inline-block;float: left; width: 100%;}
.sec-title .title-sub {font-size:1.5em; color: #000; float: left; width: 100%;}

.box-content.light-content { color:#fff; fill:#fff}
.box-content.light-content .title-sub { color:#fff;}

/*
 |*******************************************************************************************
 | BUTTON
 |*******************************************************************************************
*/
.btn { font-size:1rem; padding: 0; position: relative; box-shadow: 0 5px 5px 0 rgb(172,37,99,.2); background: rgb(160,43,94);background: linear-gradient(90deg, rgba(160,43,94,1) 0%, rgba(218,29,113,1) 50%, rgba(237,133,83,1) 100%);border-radius: 50px; border:none; text-align: center;line-height: 0.6;color: #fff;font-family: 'TrueBoldSpecial';}
.btn > span { font-size: 1.5em; padding: .8em 3em; display: flex; align-items: center;justify-content: center; position: relative;}
.btn-sm > span {font-size: 1.2em; padding: .6em 2em;}
.btn-lg > span {font-size: 1.8em; padding: .7em 2em;}

.btn-icon svg,.btn-icon img {fill:#fff; width:.6em; height:.6em; transition:all ease .4s;}
.btn-icon > span { position: relative; display:flex; align-items:center; justify-content:center;}
.btn-icon span + svg,.btn-icon span + img { margin-left:.2em;}
.btn-icon svg + span,.btn-icon img + span { margin-left:.2em;}

.btn-secondary { color:#333; position: relative;}
.btn-secondary:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }
.btn-secondary.btn-icon svg,.btn-icon img {fill:#333;}

.btn-red { background:#dd1b24; box-shadow: none;font-family: 'True';}
.btn-sm-incard { font-size: .5em;}

.btn-text { text-decoration: underline; color:inherit; background:none; box-shadow: none;font-family: 'True';}
.btn-text span {padding:0;}
.btn-text svg { fill: inherit;}

.btn-download { text-decoration: none;}
.btn-download img,.btn-download svg { width: 1em; height: 1em;}

/* == Hover == */
.btn.focus, .btn:focus {outline: 0;box-shadow:none;}
.btn:hover {  background:#dd1b24; color:#fff;}
.btn:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #dd1b24; }
.box-content-button .btn span { color:#fff; background: none;-webkit-text-fill-color:inherit;}

.btn-secondary.btn-icon:hover svg { fill:#fff;}

.btn-red:hover { color:#dd1b24;}
.btn-red:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }

.btn-text:hover { color:#dd1b24; background: none;}
.btn-text:hover:before { display: none;}
.btn-text:hover svg { fill: #dd1b24;}

.thumb-tag a:last-child { margin-right: 0px;}
.thumb-tag a:first-child { margin-left: 0px;}

/*
 |*******************************************************************************************
 | TAB & ACCORDION
 |*******************************************************************************************
*/
.tab-nav { margin:0 auto; float: left; width: 100%; text-align:center; margin-bottom:40px;}

.tab-nav ul { display: inline-block;}
.tab-nav ul li {float: left;}
.tab-nav ul li:first-child { margin-left: 0px;}
.tab-nav ul li:last-child { margin-right: 0px;}
.tab-nav-list { margin:0; display: inline-block; }
.tab-nav-list a { color:#ec1f26;border:1px solid #ec1f26; border-radius:50px; padding: .4em 1em; display:inline-block; min-width: 200px; transition: all ease .4s;}
.tab-nav-list a:hover {color:#fff;background-color:#ec1f26;}
.tab-nav-list a.active  { color:#fff;    background: rgb(252,5,112);background: linear-gradient(90deg, rgba(252,5,112,1) 0%, rgba(241,20,59,1) 100%);}



.accor-list {float: left; width: 100%;  margin-bottom:10px;transition:all ease .4s;}
.accor-list.active .accor-head-symbol:after { height:0;}

.accor-head { float: left; width: 100%; position: relative; cursor:pointer; background:#eb3939 url('../img/bg/bg-tab-faq.jpg') center center no-repeat; background-size: cover; padding:.7em 1.2em 0.7em 2em; border-radius: .3em;}
.accor-head-symbol { width: 30px; height:30px;border-radius:100%;position: absolute; right:1em; top:50%;transform: translateY(-50%) }
.accor-head-symbol:before {content:""; position: absolute; left:50%; top:50%; width: 16px; height:3px; border-radius:2px; background-color:#fff; transform: translate(-50%,-50%);}
.accor-head-symbol:after {content:""; position: absolute; left:50%; top:50%; height: 16px; width:3px; border-radius:2px; background-color:#fff; transform: translate(-50%,-50%); transition:all ease .4s;}
.accor-head-topic {float: left; width: calc(100% - 100px); color:#fff;}


.accor-icon { float: left; width: 30px; color:#fff; position: relative; }
.accor-icon:after { content:":"; position: absolute; right:10px; top:0;}


.accor-body { float: left;width: calc(100% - 2em); padding: 1em 1em; margin: 0 1em; background-color: #f7f4fb; display:none;border-radius: 0 0 .3em .3em; }
.accor-body-content {float: left; width: calc(100% - 60px);}
.accor-body .accor-icon { color:#333;}

.st-list-acc-default .accor-body-content {float: left;width: 100%;}
.accor-list.active .accor-head-symbol:after { height:0;}
/* { height:0;} */




/*
 |*******************************************************************************************
 | FORM
 |*******************************************************************************************
*/

.form-control:focus, button:focus{ outline: none;box-shadow:none;}

.check-group { float:left; width:100%; text-align:left;}
.check-group .check-title { float:left; margin-right:20px; width:auto;  margin-bottom:10px;}
.check-group .check-line { float:left; margin-right: 20px; color:#ccc}
.check-group .check-list { float:left; width:100%; margin-bottom:10px; }
.check-group.checkinline .check-title { margin-bottom:0px;}
.check-group.checkinline .check-list { margin-bottom:0px;}
.check-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.check-group input[type=checkbox] { display:none;}
.check-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:2px; background-color:#fff; border:2px solid #d9dbda; border-radius:4px;}
.check-group input[type=checkbox]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.check-group label:after { content:""; position:absolute;} 
.check-group input[type=checkbox]:checked + label:after { width:10px; height:10px; top:7px; left:5px; border-radius:2px; background-color:#dd1b24; } 
.check-group.checkinline .check-list { width:auto;}

.radio-group { float:left; width:100%; text-align:left;}
.radio-group .radio-title { float:left; margin-right:20px; width:auto;  margin-bottom:10px;}
.radio-group .radio-line { float:left; margin-right: 20px; color:#ccc}
.radio-group .radio-list { float:left; width:100%; margin-bottom:10px; }
.radio-group.radioinline .radio-title { margin-bottom:0px;}
.radio-group.radioinline .radio-list { margin-bottom:0px;}
.radio-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.radio-group input[type=radio] { display:none;}
.radio-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:2px; background-color:#fff; border:2px solid #d9dbda; border-radius:100%;}
.radio-group input[type=radio]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.radio-group label:after { content:""; position:absolute;} 
.radio-group input[type=radio]:checked + label:after { width:10px; height:10px; top:7px; left:5px; border-radius:100%; background-color:#dd1b24; } 
.radio-group.radioinline .radio-list { width:auto;}

.form-group { float: left; width: 100%;}
.form-group input{border: 1px solid rgba(0, 0, 0, .05); background-color: #eee; width: 100%; float: left; padding:.3em .8em; border-radius:.2em;}
.form-group .info-small { font-size: 0.8em; float: left; width: 100%;}
.form-group .file-input__label {position: relative;border: 1px solid rgba(0, 0, 0, .05); background-color: #eee; width: 100%; float: left; padding:.3em .8em; border-radius:.2em;}
.form-group .file-input__label span{}
.form-group .file-input__label input {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.form-group .file-input__label span.upload-icon { right:0px; top: 0px; position: absolute; cursor: pointer;display: flex;align-items: center;font-weight: 600;color: #fff;font-size: 14px;float: right;padding: 8px;background-color: #DBD8D8;border-radius: 50px;justify-content: center;margin: 5px;}
.form-group .file-input__label svg {height: 15px;fill: #5B4C4C;}
.form-group .file-input__label span.placeholder{cursor: pointer;display: flex;align-items: center;color: #8f8f8f;float: left;justify-content: center;height: 100%;}
.form-group .file-input__input { width: 0.1px;	height: 0.1px;	opacity: 0;	overflow: hidden;	position: absolute;	z-index: -1;}
.form-group textarea { resize:none; border: 1px solid rgba(0, 0, 0, .05); background-color: #eee; width: 100%; float: left; padding:.3em .8em; border-radius:.2em;}

.form-group-hoz > label ,
.form-group-hoz .radio-title,
.form-group-hoz .check-title  { min-height: 1px; width: 200px; float: left; }
.form-group-hoz input ,
.form-group-hoz textarea ,
.form-group-hoz .bootstrap-select,
.form-group-hoz .file-input__label { width: calc(100% - 220px)!important; margin-left: 20px; float: left; }
.form-group-hoz .check-group.checkinline .check-list,
.form-group-hoz .radio-group.radioinline .radio-list { max-width:calc(100% - 220px) ;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { background: none;float: left;width: 100%;}
.bootstrap-select>.dropdown-toggle { font-size: 1em; border: 1px solid rgba(0, 0, 0, .05); background: #eee; box-shadow:none; width: 100%; float: left; padding:.33em .8em; border-radius:.2em; font-family: inherit; line-height: 1; color:#333;}
.bootstrap-select>.dropdown-toggle:hover { background: #eee;}
.bootstrap-select>.dropdown-toggle:hover:before { position: relative; width: auto; height: auto; background-color: transparent;}
.bootstrap-select .dropdown-toggle:focus {outline:0!important;	outline-offset:0; box-shadow: none;}
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {outline:0!important;	outline-offset:0; box-shadow: none;background: #eee;}
.dropdown-toggle::after { position: absolute; right:.7em; top:.7em;}
.dropdown-menu { font-size: 1em;}

/*
 |*******************************************************************************************
 | POPUP
 |*******************************************************************************************
*/
.section-popup { display: none; position:fixed; width:100%; height:100%; top:0px; left:0px; text-align:center;z-index:20; font-size: 1em;}

.popup-bg { position:absolute; top:0px; left:0px; width:100%; height:100%;  background-color:rgba(0,0,0,0.9);}
.popup-container { width:100%;max-width:960px; background-color: #fff; padding:40px 50px; height:70%; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); border-radius:20px; overflow:hidden; }
.popup-close { position:absolute; right:10px; top:10px; width:40px; height:40px; cursor:pointer; z-index:10;  display:flex; align-items:center; justify-content:center; border-radius:100%;}
.popup-close svg { fill:#787979; width:50%; height:100%; transition:all .4s ease;}
.popup-close:hover svg { transform:rotate(180deg);}
.box-popup { text-align:left; float:left; width:100%;}

.popup-head  {  width:100%; min-height:60px; text-transform:uppercase;color:#312929;padding-bottom:20px; }
.popup-head h2 { font-size:40px;color:#fdce01;line-height: 1.4;}
.popup-head h4 { font-size:24px;color:#312929;line-height: 1.4;}
.popup-body a{color: #312929;text-decoration: underline;text-decoration-color: #787979;    text-underline-position: under;line-height: 1.6;}

.popup-body { width: 100%;padding-right: 30px;overflow: hidden; overflow-y: scroll; margin:0;word-break: break-word;}

.popup-body::-webkit-scrollbar-track{background-color: transparent;border-radius: 10px;}
.popup-body::-webkit-scrollbar{width: 4px;background-color:transparent;border-radius: 10px;}
.popup-body::-webkit-scrollbar-thumb{background-color: #36363696;border-radius: 10px;}

.popup-topic { font-size: 2em;}
.popup-subtopic { font-size: 1.5em; position: relative; color:#fff; margin-top: 0.2em;}
.popup-subtopic span { position: relative; padding: 0em .5em; }
.popup-subtopic span:before {transform: skewX(-20deg);	content: "";	border-radius: 0.2em;	background-color: #dd1b24;	position: absolute;	width: 100%;	height: 100%;	top: 0;	left: 0; }
.popup-subtopic span b { position: relative;}
/*
 |*******************************************************************************************
 | ELEMENT
 |*******************************************************************************************
*/
.section-prefooter .blank-png {min-height: 80px;}
.border-l{border-left: 2px solid #be4e6e; }
.border-r{border-right: 2px solid #be4e6e;}

.box-noresult { background:rgba(0,0,0,0.05); float:left; width:100%; border-radius:20px; text-align:center; padding: 4em 20px; font-size: 2em; }
.box-noresult p { color:#333;  }

.box-premenu { /*position:fixed; z-index:9999999;*/    margin-top: 60px; float:left; width:100%; background:url(../img/immersive/bg-premenu.jpg) no-repeat center center; padding:20px 0px;font-family:'TrueBold'; font-size:2em;}
.premenu-group { float:left; width:100%; display:flex; align-items:center; justify-content:center;}
.premenu-list { float:left; padding:0 60px; border-right:rgba(255,255,255,0.3) solid 1px; position:relative;}
.premenu-list .premenu { position:relative;}
.premenu-list .premenu.active:before { content:""; position:absolute; left:-20%; top:-10%; width:calc(140%); height:120%;background: #fff;  border-radius:5px;}
.premenu-list:last-child { border:none;}
.premenu-list .premenu.active span { position:relative; background: -webkit-linear-gradient(to right, #FE301E 26%, #BB467E 54%, #F47635 74%, #FF0000 100%); background: -moz-linear-gradient(to right, #FE301E 26%, #BB467E 54%, #F47635 74%, #FF0000 100%); background: linear-gradient(to right, #FE301E 26%, #BB467E 54%, #F47635 74%, #FF0000 100%);-webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
.premenu-list .premenu:hover:before { content:""; position:absolute; left:-20%; top:-10%; width:calc(140%); height:120%;background: #fff;  border-radius:5px; opacity:0.5}
.premenu-list .premenu.active:hover:before { opacity:1;}

/*
 |*******************************************************************************************
 | SECTION TEMPLATE 
 |*******************************************************************************************
*/
.bg-px-l { background-position-x: left !important;}
.bg-px-c { background-position-x: center !important;}
.bg-px-r { background-position-x: right !important;}
.bg-py-t { background-position-y: top !important;}
.bg-py-m { background-position-y: center !important;}
.bg-py-b { background-position-y: bottom !important;}
.bg-rp-no { background-repeat: no-repeat !important;}
.bg-rp-all { background-repeat: repeat !important;}
.bg-rp-x { background-repeat: repeat-x !important;}
.bg-rp-y { background-repeat: repeat-y !important;}
.bg-fx-fx { background-attachment: fixed !important;}
.bg-fx-st { background-attachment: inherit !important;}
.bg-sz-cv { background-size: cover !important;}
.bg-sz-ct { background-size: contain !important;}
.bg-sz-at { background-size: auto !important;}

.text-top { display: flex; align-items: flex-start!important;}
.text-middle { display: flex; align-items: center!important;}
.text-bottom { display: flex; align-items: flex-end!important;}

.date-post { display: flex; align-items: center; margin-top: .5em; font-size: .8em;}
.date-post svg,.date-post img { float: left; width: 16px; height: 16px; fill:#dd1b24; margin-right: 10px;}
.date-post svg,.date-post span { color:#dd1b24;}
.date-post.dark-color svg,.date-post.dark-color img {fill:#333;}
.date-post.dark-color span {color:#333;}

.st .pd { padding:50px 0;}
.st .box-content p { line-height: 1.3; }
.st .sec-contain { display: block;}

.st { position:relative; z-index: 2;}
.st .cont-contain { display: block;}
.st .cont-img { padding:0 15px; } 
.st .cont-txt { padding:0 15px; }

.st .swiper-slide .box-thumb { margin-bottom: 0;}
.st .box-table {border: 5px solid #dee2e6;border-radius: 30px;padding: 60px;display: flex;    margin-bottom: 30px;height: calc(100% - 30px);transition: all .5s ease}

/* .st .row-cols-3 .box-table{padding: 80px 30px;}
.st .row-cols-4 .box-table{padding: 80px 10px;}
.st .row-cols-5 .box-table{padding: 80px 10px;}
.st .row-cols-6 .box-table{padding: 80px 10px;} */

/* .perview_table_1 .box-table { width: calc(50% - 30px);}
.st .perview_table_3 .box-table{padding: 60px 30px;}
.perview_table_1 .swiper-slide{    justify-content: center;display: flex;}
.cont-list-swiper-custom.perview_table_1 .swiper-button-next, .swiper-container-rtl .swiper-button-prev{    right: 20%;}
.cont-list-swiper-custom.perview_table_1  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{    left: 20%;} */


.st .box-table:hover{border: 5px solid #DC3549;overflow: hidden;}
.st .box-table:hover::before{content: "";position: absolute; top: 0; right: 0; width: 0;height: 0;border-style: solid;border-width: 0 120px 120px 0;border-color: transparent #DC3549 transparent transparent;}
.st .row-cols-3 .box-table:hover::before{border-width: 0 70px 70px 0;}
.st .row-cols-4 .box-table:hover::before{border-width: 0 70px 70px 0;}
.st .row-cols-5 .box-table:hover::before{border-width: 0 70px 70px 0;}
.st .row-cols-6 .box-table:hover::before{border-width: 0 70px 70px 0;}


/* .st .box-thumb a:hover .thumb-img img{transform: scale(1.2);} */
.box-thumb{ margin-bottom: 20px; font-size: 1em;color: #222;line-height: 1; font-family: 'True'; float: left; width: 100%; border-radius:.5em;}
.box-thumb a .thumb-img img{transition: transform .5s ease;}

.box-thumb-hl { float: left; width: 100%; position: relative; margin-bottom: 50px;}
.box-thumb-hl:before { position: absolute; content: ""; bottom: 60px; width:500%; transform: translateX(-50%); height: 50px;background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,.2) 00%, rgba(0,0,0,0) 100%); opacity:.5;}

.st .thumb {float: left; width: 100%; -webkit-transform: translateZ(0);}
.st .thumb-group { position: relative; float: left; width: 100%;}
.st .thumb .thumb-txt-h{font-size: 1em;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;} 
.st .thumb .thumb-txt-p{width: 100%;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;}
.st .thumb .thumb-txt .btn { margin-top: 1.5em;}

.st .thumb-ver .thumb-img { position: relative; border-radius: 10px; overflow: hidden;}
.st .thumb-ver .thumb-txt { margin-top: 15px; }
.st .thumb-ver .thumb-txt-p{-webkit-line-clamp: 3;}

.st .thumb-hoz .thumb-img { float: left; width: 50%;position: relative; border-radius: 10px; overflow: hidden;}
.st .thumb-hoz .thumb-txt { float: left; width:50%;padding-left: 20px;}
.st .thumb-hoz .thumb-txt-h{-webkit-line-clamp: 3;}
.st .thumb-hoz .thumb-txt-p{-webkit-line-clamp: 3;}

.st .thumb-hoz.thumb-lr .thumb-group { display: flex; align-items: center; flex-wrap: wrap;}
.st .thumb-hoz.thumb-lr .thumb-txt { padding:0 2em;}
.st .thumb-hoz.thumb-lr .thumb-txt-h { font-size: 2.5em; line-height: 0.9; }
.st .thumb-hoz.thumb-lr .thumb-txt-s { font-size: 1.2em; }
.st .thumb-hoz.thumb-lr .thumb-txt-p { margin-top: .3em;}

.st .thumb-incard { position: relative; border-radius: 10px; overflow: hidden;}
.st .thumb-incard .thumb-img { float: left; width: 100%;}
.st .thumb-incard .thumb-group { position: relative;}
.st .thumb-incard .thumb-group:before { opacity: 0.5; content:"";z-index: 1; bottom: 0; left: 0; width: 100%; height: 100%; position: absolute; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);}
.st .thumb-incard .thumb-txt { position: absolute; bottom: 15px; left: 15px; z-index: 3; width: calc(100% - 25px); color: #fff;}
.st .thumb-incard .thumb-txt-p{-webkit-line-clamp: 1;}

.st .thumb-tag {display: inline-block; padding: 10px 0;}
.st .thumb-tag a {text-transform: capitalize; background-color: #fff; border-radius: 100px; border: 1px solid #FE301E; color: #000;padding:0.2em .6em 0.1em;font-size: 0.8em;transition: all 250ms ease;margin: 0 5px 5px;float: left;display: inline-block;white-space: pre;} 
.st .thumb-tag a:hover{background-color: #FE301E;border: 1px solid #FE301E; color: #fff;}
.st .thumb-tag a.tag-cate{ background-color: #FE301E;border: 1px solid #FE301E; color: #fff; cursor:default;}


.st .list-highligh {font-size: 1em;}

.st .list-highligh a.btn-more {text-decoration: underline;}

.st .list-highligh .thumb-group { display: flex; align-items: center;}
.st .list-highligh .thumb-tag {padding: 10px 0 20px 0 ;}
.st .list-highligh .btn-hl .btn { font-size: 1.2rem;}
.st .list-highligh .thumb-txt { padding-left:2.5em;}
.st .list-highligh .thumb-txt-p{font-size: 1em;-webkit-line-clamp: 6;}
.st .list-highligh .thumb-txt-h{-webkit-line-clamp: 3;font-size: 1.2em;}

.st .list-highlight2-main .date-post svg { fill:#fff;}
.st .list-highlight2-main .date-post span { color:#fff;}
.st .list-highlight2-main .thumb .thumb-txt-h { font-size: 1.3em;}


.st .list-highlight2-sidebar .col-12:last-child() .thumb { margin-bottom: 0px;}
.st .list-highlight2-sidebar .thumb-hoz .thumb-img { width: 43%;}
/* .st .list-highligh .thumb-txt-h span span{font-size: .8em;color: #000; } */

/* .st .box-thumb .thumb .thumb-txt-h{-webkit-line-clamp: 2;width: 100%;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;float: left;padding: 3px 0;}
.st .box-thumb .thumb .thumb-txt-h{color: #ff301c;} */

.tab-nav ul {border: 1px solid #ec1f26; border-radius:50px; background-color: #fff;}
.tab-nav-list a { border: none; min-width: 0; padding-left:1.8em;padding-right:1.8em;white-space: nowrap;}
.tab-custom .tab-nav ul{border: none; border-radius:0; background-color: transparent;}
.tab-custom .tab-nav-list a{border: 1px solid #ec1f26;border-radius: 50px;}


.st-content .container-fluid { padding:0 15px;}
.st-content .cont-contain { margin-left:-15px; margin-right:-15px;  display: block; width: calc(100% + 30px);}
.st-content.contlay-ver { text-align: center;}
.st-content.contlay-ver .cont-img { width: 100%;}
.st-content.contlay-ver .cont-txt { width: 100%;}
.st-content.contlay-hoz-left .cont-contain { display: flex; align-items: center;}
.st-content.contlay-hoz-left .cont-txt{ margin-left: auto;}
.st-content.contlay-hoz-right .cont-contain { display: flex; align-items: center;}
.st-content.contlay-hoz-right .cont-img {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}

.st-banner { position: relative;}
.st-banner .cont-contain { width:100%; display: flex;}
.st-banner .cont-txt { width:100%;}
.st-banner .bancont-top  { display: flex; align-items: flex-start; }
.st-banner .bancont-middle { display: flex; align-items:center; }
.st-banner .bancont-bottom { display: flex; align-items: flex-end; }
.st-banner .cont-contain.text-right .cont-txt,
.st-banner .cont-contain.text-md-right .cont-txt { width: 50%; float: right; margin-left: auto; }
.st-banner .cont-contain.text-left .cont-txt,
.st-banner .cont-contain.text-md-left .cont-txt  { width: 50%; }
.st-banner .video_abs { position: absolute; height: 100%; width: 100%; top: 0; left: 0; bottom: 0;}
.st-banner .video_abs .video-container {height: 100%;background-color: #000; position:absolute;}
.st-banner .swiper-slide { height: auto;}
.st-banner .swiper-pagination-bullet {width: 12px;height: 12px;margin-left: 5px;}

.st-banner .swiper-pagination{bottom: 1.5%;left: 50%;transform: translateX(-50%);}
.st-banner .swiper-pagination-bullet{background: #fff;opacity: .4;}
.st-banner .swiper-pagination-bullet-active {opacity: 1;background: #f80256;border: 1px solid #fff;}

.st-list-acc-default .sec-acc-group{padding: 0;}
.st-list .swiper-button { margin-top: 0px;}
.sec-lists { float: left; width: 100%;}

.list-swiper-content-center .swiper-wrapper{justify-content: center;}







/* // HEADER
 |*******************************************************************************************
 | HEADER
 |*******************************************************************************************

.section-header {font-family: 'TrueBold'; float:left; width:100%; position:fixed; top:0px; left:0px; text-align:left;z-index:20; background: #fbfbfb;  box-shadow:0 0 20px 0 rgba(0,0,0,.2);}
.section-header:after { width: 100%; height: 4px; left: 50%; transform: translateX(-50%); bottom:-4px; position: absolute; content: ""; background: linear-gradient(to right, #FE301E 26%, #BB467E 54%, #F47635 74%, #FF0000 100%);pointer-events: none;}

.box-header { float:left; width:100%; padding:10px 0; position:relative;}
.box-logo { float:left; position:absolute; z-index:3; width: 170px; left: 0; top: 0; }
.box-logo a { display:flex; align-items:center; justify-content:center;}
.box-logo a img { float:left;position: relative; width: 100%;}

.main-menu { display:flex; align-items:center;}
.box-menu { float:left; width:100%;  margin-right:auto; margin-left:0; padding:1.2em 0 .5em;}
.box-menu ul { position:relative; width:100%; align-items:center; justify-content:center; float:left; display:flex; align-items:center;}
.box-menu ul > li { float:left; }

.box-menu ul > li > a { color:#333333; z-index:2;padding:0 20px; padding-top: 13px;padding-bottom: 13px;}
.box-menu ul > li > a.active:before { content:""; position: absolute; height:calc(100% + 30px); bottom: 7px; left:5px; width:calc(100% + 10px) ; background-color: #eee; border-radius: 0 0 10px 10px; transform:  skewX(-20deg); }
.box-menu ul > li > a span { position: relative;}
.box-menu ul li a.active{ color:#e84248;}
.box-menu ul li a.active  + ul {visibility:visible; opacity: 1;}
.box-menu ul > li a:hover { color:#e84248;}

.box-menu ul > li > a.m-parent { position:relative;}
.box-menu ul > li > ul {left: 50%;width: calc(1000%);transform: translateX(-50%);position: absolute;top: 100%;padding: .5em 0 .5em;margin:.5em 0em;z-index: 1;  visibility: hidden; opacity: 0;text-align:center; background-color: #fff;}
.box-menu ul > li > ul  li {margin:auto; display:inline-block;font-size:1em; position: relative;}
.box-menu ul > li > ul  li a  { padding:0 20px;color:#333333;}
.box-menu ul > li:hover > ul {visibility: visible;opacity: 1;transition: all 250ms ease;z-index: 2;}
.box-menu ul > li > ul .container { position: relative;}
.box-menu ul > li > ul .container:before { position: absolute; content: ""; width: 1000%; background-color: #eeeeee; top:-10px; left: 0px; height: calc(100% + 20px); transform: skewX(-20deg);border-radius: 10px 10px;}

.btn-menu { position:absolute; z-index:1; display:flex; align-items:center; -webkit-display:flex; -webkit-align-items:center;  cursor:pointer;  display:none; left:auto; right:20px; bottom:10px; background:url(../img/skin/menu-mobile.png) no-repeat right top; background-size:contain;width: 30px;height: 30px;}
.btn-menu .groupMenu {margin: 0 auto;width: 22px; cursor:pointer; height:22px; position:relative; float:right;}
.btn-menu .groupMenu span { position:absolute;width: 22px;height: 2px;background-color: #515458;float: left;overflow:hidden;-webkit-transition:ease .4s; transition:ease .4s;}
.btn-menu .groupMenu span:last-child {margin-bottom: 0px;}
.btn-menu .groupMenu .pan1 { top:0px; left:0; transform-origin:center center;-webkit-transform-origin:center center;}
.btn-menu .groupMenu .pan2 { top:7px; left:auto; right:0px; transform-origin:center center;-webkit-transform-origin:center center;}
.btn-menu .groupMenu .pan3 { top:14px; left:auto; right:0px; transform-origin:center center;-webkit-transform-origin:center center;}
.btn-menu .btn-menutext { color:#fff; float:right; text-transform:uppercase; font-size:14px; line-height:1;margin-top: 17px;margin-right: 13px;}
.btn-menu:hover span:before { left:0px; }
.closeMenu { position:absolute; top:20px; right:20px; width:50px; height:50px; z-index:-1; cursor:pointer;}
.menuClick .groupMenu .pan1 { transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg); top:7px; z-index:2; height:2px;}
.menuClick .groupMenu .pan2 { width:0px; height:0px;}
.menuClick .groupMenu .pan3 { transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg); top:7px; z-index:2; height:2px;}
.menuClick .closeMenu { z-index:12;}
.menuClick .btn-menu { z-index:11;}
.menuClick .btn-menu .groupMenu .pan3 { width:22px;}
*/
/* // FOOTER
 |*******************************************************************************************
 | FOOTER
 |*******************************************************************************************

.section-footer-main { float: left;width: 100%; position: relative; color: #222; font-size: 1em;}
.section-footer-main a { text-decoration: underline; color: inherit;}
.box-footer-call { background-color: #dcdcdc; text-align: center; padding: 15px 0;}
.box-footer-call .foot-call-group { display: flex; align-items:flex-end; justify-content: center;}
.box-footer-call .txt-group-1 { float: left; text-align: left; margin-right: 10px;}
.box-footer-call .txt-group-1 .txt-2 { font-size:1.5em; line-height:0.8;font-family:'TrueBold';}
.box-footer-call .num-group-1 { float: left;display: flex; align-items:flex-end;}
.box-footer-call .num-group-1 .num-1 { float: left;font-size: 3em;  line-height:0.64; color: #ec1a23;font-family:'TrueBold'; margin-right: 5px;;}
.box-footer-call .num-group-1 .icon-1 { float: left;}
.box-footer-call .foot-call-info { font-size: 0.8em; margin-top: 5px;}

.box-footer-appointment { padding:5px 0; font-size: 1.2em; text-align:center; color: #fff; background-color: #b2b2b2;font-family:'TrueBold';}

.box-footer-menu { float: left;width: 100%; position: relative;padding:20px 0; }
.box-footer-menu a { text-decoration: none;}
.footer-menu-logo { float: right; width: 90px; margin-right: 40px; }
.footer-menu-group { float: right; width:calc(100% - 130px); }
.footer-menu-title { float: left;width: 100%; margin-bottom: 10px; margin-top: 5px; font-family:'TrueBold';}
.footer-menu-title img {float: left; width: 20px; margin-right: 10px;}
.footer-menu-title p { float: left; width: calc(100% - 30px); border-bottom: 1px solid rgba(0, 0, 0, .1);}
.footer-list { float: left; width: 100%; padding-left: 30px; color: #666; font-size: 0.8em;}
.footer-list li { margin-bottom: 5px;}
.footer-list ul { margin-top: 5px;}
.footer-list ul li { padding-left: 20px; position: relative;}
.footer-list ul li:before { content:""; position: absolute;width: 0;height: 0;border-style: solid;border-width: 4px 0 4px 8px;border-color: transparent transparent transparent #666; left: 0; top:5px;}
.box-footer-base { float: left;width: 100%; padding:10px 0;font-size: 0.8em; position: relative;background-color: #555555;color: #fff;}
.footer-base-copy { float: left; width: 80%; padding: 5px 0;}
.footer-base-social { float: right; width: 20%; text-align: right;}
.footer-base-social .social-box {  float:right;}
.footer-base-social .social-box li { float: left; margin-right: 10px;}
.footer-base-social .social-box li:last-child { margin-right:0;}
.footer-base-social .social-box li a { width: 30px; height: 30px; background-color: #fff; display: flex; align-items: center; justify-content: center;}
.footer-base-social .social-box li a.fb-icon { background-color:#39599f;}
.footer-base-social .social-box li a.tw-icon { background-color:#45b0e3;}
.footer-base-social .social-box li a.yt-icon { background-color:#e70031;}
.footer-base-social .social-box li a svg { width: 16px; height: 16px; fill:#fff; }
*/

/*
 |*******************************************************************************************
 | PACKAGE TABLE
 |*******************************************************************************************
*/

.box-tablepack { float: left; width: 100%; position: relative;}

.tablepack-list { border: 1px solid #efefef; font-size: .9em; float: left; width: 100%; position: relative;border-radius: .6em; padding:10px;background: rgb(241,203,207);background: linear-gradient(356deg, rgba(241,203,207,1) 0%, rgba(251,251,251,1) 80%);}
.tablepack-head { display: flex; align-items: center; justify-content: center; margin-bottom: .2em; float: left; width: 100%; position: relative; padding: .5em 1em ;color:#fff;border-radius: .4em;}
.tablepack-head .pack-price-group {display: flex; align-items:baseline; justify-content: center;}
.tablepack-head .pack-price-group .pack-price { font-size:3em;}
.tablepack-highlight { z-index: 2; position: absolute; top: -5px; left:30px; padding:5px 15px; color: #fff; font-size: 0.8em;}
.tablepack-highlight:before { transform: skewX(-20deg); content: ""; border-radius: 4px; border: 1px solid rgba(255, 255, 255, .5); background-color: #dd1b24; position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.tablepack-highlight span { position: relative;}
.tablepack-info-cate { padding:1.2em .7em .7em .7em; float: left; width: 100%; font-size: 1.1em;}
.tablepack-info-cate .tablepack-info-cate-topic { font-size: 1.2em;}
.tablepack-scrollicon {border-radius: 0.2em; position: absolute; z-index: 1; top: 0px; left:0px; width: 100%; height: 100%;background: rgb(255,255,255);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); }
.tablepack-scrollicon .tablepack-scrollicon-group { display: flex; justify-content: center; align-items: center; position: absolute; bottom:10px; left: 0px; width: 100%;}
.tablepack-scrollicon .tablepack-scrollicon-group img { width: 20px; margin-right: 10px;}
.tablepack-info-cate-detail  {min-height: 48px;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 3;}

.icon-toggle { width: 30px; height:30px;border-radius:100%;position: absolute; right:20px; top:50%;transform: translateY(-50%);transition:all ease .4s; }
.icon-toggle:before {content:""; position: absolute; left:50%; top:50%; width: 16px; height:2px; border-radius:2px; background-color:#e4464e; transform: translate(-50%,-50%);}
.icon-toggle:after {content:""; position: absolute; left:50%; top:50%; height: 16px; width:2px; border-radius:2px; background-color:#e4464e; transform: translate(-50%,-50%); transition:all ease .4s;}

.tablepack-body { float: left; width: 100%; position: relative;}
.tablepack-foot { float: left; width: 100%; margin-top:0em;}
.tablepack-foot .btn-text { font-size: .8rem; margin:15px 0 10px; color:#dd1b24;}
.feature-list  {  float: left; width: 100%; overflow: hidden; margin-bottom: 0.2em;border-radius:.2em;background-color: #fff; }
.feature-list:last-child { margin-bottom: 0px;}
.feature-list .g-feature { border-bottom: 1px solid rgba(0, 0, 0, .1);}
.feature-list .g-feature:last-child { border-bottom: 0px;}


.g-feature { float: left; width: 100%; }
.g-feature .g-feature-main { float:left; width: 100%; padding:.7em 1em; position: relative;display: flex;align-items: center;}
.g-feature .g-feature-headline { background-color: #ddd;float:left; width: 100%; padding: .3em 1em .2em; font-size: .8em;}
.g-feature .g-feature-icon {float: left; width: 15%;}
.g-feature .g-feature-thumb { height: 40px;}
.g-feature .g-feature-detail {float: left; width: 100%;}
.g-feature .icon-toggle + .g-feature-icon + .g-feature-detail { padding-right:30px;}
.g-feature .g-feature-icon + .g-feature-detail { width: 85%; padding-left:1em}

.g-feature-detail-link { color: #dd1b24; font-size: .9em;}
.g-feature .g-feature-toggle { display: none; float: left; width: 100%; padding:0 .4em .4em;}
.g-feature .g-feature-toggle-list { text-align: center; font-size: .9em; float: left; width: 100%; padding:.8em 1em; margin-bottom: .4em; background-color:#fbf9f9; border-radius:.2em;}
.g-feature .g-feature-toggle-list:last-child{ margin-bottom: 0px;}

.g-offer-topic { cursor: pointer; color:#fff; float: left; width: 100%; font-size: 1.4em; position: relative; padding: .3em 1em; border-radius:.2em .2em 0 0;}
.g-offer-topic .icon-toggle:before { background-color: #fff;}
.g-offer-topic .icon-toggle:after { background-color: #fff;}
.g-feature.active .icon-toggle:after,
.g-offer-topic.active .icon-toggle:after  { height:0px}

.has-toggle { cursor: pointer;}

/* ==== On Homepage ==== */ 
.box-smehighlight .tablepack-body { min-height: 226px; max-height: 226px; overflow-y: scroll;}
.box-smehighlight .tablepack-body.pack-height-over { height:226px; overflow-y: scroll;}

/*
 |*******************************************************************************************
 | CATEGORY TABLE
 |*******************************************************************************************
*/
.box-tablecate { float: left; width: 100%; position: relative;padding-bottom: 20px;}
.box-tablecate:before { content: ""; position: absolute;  height: 40px; bottom:0px; width: 90%; left: 5%; background-color: #6a1a43; opacity: 0.5; border-radius: 100%; filter: blur(10px);}
.tablecate-list { border: 1px solid #efefef; font-size: .9em; float: left; width: 100%; position: relative;border-radius: .6em; padding:10px;background: rgb(241,203,207);background: linear-gradient(356deg, rgba(241,203,207,1) 0%, rgba(251,251,251,1) 80%);}
.tablecate-head { display: flex; align-items: center; justify-content: center; margin-bottom: .2em; float: left; width: 100%; position: relative; padding: 0em .5em .5em .5em ;}
.tablecate-head-group {float: left; width: 100%;}
.tablecate-head-group .tablecate-head-group-topic {float: left; width: 100%; font-size:1.4em;}
.tablecate-head-group .tablecate-head-group-detail { float: left; width: 100%;font-size:1.1em; min-height:48px;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 3;}
.tablecate-image {float: left; width: 100%; float: left; width: 100%; position: relative;}
.tablecate-detail {float: left; width: 100%; background-color: #fff; font-size: 1.1em;}
.tablecate-detail-price {float: left; width: 100%; text-align: center; padding: .2em 1em; border-bottom: 1px solid rgba(0, 0, 0, .1); }
.tablecate-detail-price b { font-size: 2.5em; color:#dd1b24; font-style: italic;}

.tablecate-detail-group{float: left; width: 100%; display: flex; align-items: center;  justify-content: space-around;}
.tablecate-detail-group-list { display: flex; align-items: center; justify-content: center; height: 100%; padding: .2em .5em;min-height:3em;border-right: 1px solid rgba(0, 0, 0, .1); width: 100%; text-align: center; }
.tablecate-detail-group-list:last-child { border-right: none;}
.tablecate-detail-group-list .boldup { font-size: 1.8em; line-height: 0.6;}
.tablecate-detail-group-list > div { width: 100%;}
.tablecate-detail-group-list.tdgl-small .boldup {font-size: 1.4em;}
.tablecate-detail-group-list.tdgl-small .tdgl-small-left { width: 50%; float: left; text-align: left;}
.tablecate-detail-group-list.tdgl-small .tdgl-small-right { width: 50%; float: left; text-align: left;}
/*
 |*******************************************************************************************
 | DETAIL PAGE
 |*******************************************************************************************
*/
.sec-list-detail { float: left; width: 100%; background: url('../img/bg/bg-news-detail-d.jpg');}

.box-detail-topic { display: flex; align-items: flex-end; justify-content: stretch; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, .1);}
.box-detail-topic h1 { font-size: 1.5em; line-height:1; }
.box-detail-topic .date-post {min-width: fit-content; margin-left: 20px;}

.box-detail-info { display: contents ;}

.content-inner { float: left; width: 100%; position: relative;}

.box-share {position: absolute!important;right:-20px;top:-120px;z-index: 2; width: 40px;}
.box-share.sidebar {height: 25%;}
.box-share .share-title {font-size: 0.8em; text-align: center;}
.box-share ul {float: left;width: 100%;text-align: center;margin-top: 10px; background-color: #fff; padding: 5px; border-radius:50px}
.box-share li {padding-bottom: 10px;}
.box-share li a {width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 100%;}
.box-share li:last-child { padding-bottom: 0px;}
.sidebar__inner {float: left;position: relative;top:0px;width:40px; left:0%}
.box-share ul li .share-fb svg{fill: #fff;width: 6px;}
.box-share ul li .share-tw svg{fill: #fff;width: 14px;}
.share-fb {background-color: #4164b2;}
.share-tw {background-color: #58c8e0;}


.sec-content{width: 100%; float: left;position: relative; padding-bottom: 50px;}

.blocks-content{max-width:1600px; margin: 0 auto;}
.blocks-content-detail {width: 100%; float: left;position: relative; border-radius: 70px;padding:40px 0 ;margin-top: 40px; min-height: 400px;}
.blocks-content-detail .box-breadcrumb{display: flex; justify-content: space-between;border-bottom:1px solid #eee }



.tag-group {width: 100%;float: left;display: flex; align-items: center;padding-top:50px; font-size:1em;}
.tag-group ul.box-tag {display: inline-block;}
.tag-group ul.box-tag li{float: left;margin-right:10px;padding: 10px 0;}
.tag-group .tag-title {font-family: 'TrueBold';color: #f10000;margin-right: 10px;    width: fit-content; padding-top: 15px;float: left;}
.tag-group .btn.btn-tag {padding: 0 20px;min-width: 0;border:1px solid #f10000;color: #f10000;background-color: #ffffff;border-radius: 100px;font-family: 'TrueBold';font-size: 0.8em;}
.tag-group .btn.btn-tag:hover {background-color: #f10000;border:1px solid #f10000;color: #ffffff;}


.tag-list-title {width: 100%;margin-top: 80px;float: left;padding: 40px 0;}
.search-tag.custom-listing .sec-lists {padding: 0px 0;}
.slide-in-bottom {-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
@-webkit-keyframes slide-in-bottom { 0% {  -webkit-transform: translateY(150px); transform: translateY(150px); opacity: 0;}100% {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}}
@keyframes slide-in-bottom { 0% { -webkit-transform: translateY(150px); transform: translateY(150px);opacity: 0;}100% {-webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}}


.sec-relate { background-color: #f5f5f5;}

.box-loadmore .btn { position: absolute; left: 50%; top:0px; transform: translate(-50%,-50%);}
/*
 |*******************************************************************************************
 | ONLY IN TRUE BUSINESS
 |*******************************************************************************************
*/

.sec-prefooter { float: left; width: 100%; padding: .5em 0; background-color: #fff; border-top: 2px solid #d51f40;}
.box-prefooter { float: left; width: 100%; display: flex; align-items: center; justify-content: center; }
.prefoot-contact-title { margin-right: 2em; font-size: 1.2em;}
.prefoot-contact-group {display: flex; align-items: center;}
.prefoot-contact-group-call{display: flex; align-items: center;}
.prefoot-contact-group-call-text { text-align: right; line-height: 0.9; margin-right: .5em;}
.prefoot-contact-group-call-num { font-size: 3em;}
.prefoot-contact-group-or { font-size: 0.7em; position: relative; margin: 0 2em;}
.prefoot-contact-group-or span { position: relative;}
.prefoot-contact-group-or span:before { position: absolute; content: ""; width: 1px; height: 10px; top: 100%; left: 50%; background-color: rgba(0, 0, 0, .3);}
.prefoot-contact-group-or span:after { position: absolute; content: ""; width: 1px; height: 10px; bottom:100%; left: 50%; background-color: rgba(0, 0, 0, .3);}


.box-jumpto{width: 100%;float: left; position: relative;}
.box-jumpto .box-shadow { border-radius:50px}
.jumpto-group{ float: left; width: 100%;border-radius: 50px; padding:2px; }
.jumpto-title{width: auto;float: left;padding-left: 30px;color: #fff;}
.jumpto-list {width: 100%;float: left;border-radius: 50px; background-color: #fff; }
.jumpto-item { float: left; width: 100%;}
.jumpto-item .btn { float: left; width: 100%; } 
.jumpto-item .btn-jump:not(.active){background:transparent;color: #000;box-shadow: none;} 

.jumpto-item .btn-jump:hover:before{background-color: transparent; display: none;}
.jumpto-item .btn span{border-radius: 50px;padding: 0.8em 1em;}
.jumpto-select { float: left; width: 100%; background-color: #fff; border-radius:50px; }

.group-cate { float:left; width:100%; position:relative;}
.cate-show { position:relative; background:url(../img/skin/icon-arrow-bottom.svg) repeat-y; background-size:140%; padding:0.4em 1em; float:left; width:100%; border-radius:50px; display:flex; align-items:center; display:-webkit-flex; -webkit-align-items:center; cursor:pointer;}
.cate-show:before { position:absolute; content:""; right:15px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);width: 15px; height: 15px; background:url(../img/skin/icon-arrow-bottom.svg) no-repeat; background-size:contain; transition:all .4s ease;}
.cate-txt { float:left; width:calc(100% - 0px);}
.cate-show .cate-txt {overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical; padding-right:10px;}
.cate-select { z-index: 2; display:none; padding: 0.2em 0; background-color:#f7f7f7; position:absolute; top:calc(100% + 2px);  border-radius:20px;}
.cate-select a { width:100%; color:#393939}
.cate-select li { position:relative;  padding:0.2em 1em; float:left; width:100%; display:flex; align-items:end; display:-webkit-flex; -webkit-align-items:end; cursor:pointer;}
.cate-select li + li  {margin-top:5px;}

.solution-color-1 .active {background: rgb(220,31,0);background: linear-gradient(90deg, rgba(220,31,0,1) 0%, rgba(246,146,30,1) 100%);}
.solution-color-2 .active {background: rgb(19,64,191);background: linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);}
.solution-color-3 .active {background: rgb(188,0,148); background: linear-gradient(90deg, rgba(188,0,148,1) 0%, rgba(217,0,139,1) 100%);}
.solution-color-4 .active {background: rgb(13,1,103);background: linear-gradient(90deg, rgba(13,1,103,1) 0%, rgba(0,2,175,1) 35%, rgba(6,0,255,1) 100%);}
.solution-color-5 .active {background: rgb(103,1,36);background: linear-gradient(90deg, rgba(103,1,36,1) 0%, rgba(175,0,49,1) 35%, rgba(255,0,63,1) 100%);}


.sec-smepack-slide .swiper-container{overflow:visible;}
.sec-smepack-slide .swiper-wrapper{height: auto;}

.sec-smehighlight { float:left; width: 100%; padding-bottom: 40px;  background:url(../img/bg/bg-solution-highlight.jpg) top center no-repeat #fff;}
.box-smehighlight { float:left; width: 100%;}
.smehighlight-list  { float:left; width: 100%; display: flex;}
.sec-smehighlight .box-jumpto {margin-top: -30px;}
.box-smehighlight .swiper-container {overflow:visible}

.smehighlight-info { font-size: 1em; width: 33.333%; float: left; position: relative; padding-right: 1em;padding-left: 2em; flex:1; display: flex;flex-wrap: wrap;}
.smehighlight-group { width: 66.666%; float: left; position: relative;} 
.smehighlight-info-group { margin-bottom: auto; margin-top: auto; height:calc(100% - 75px); padding-bottom: 20px; display: flex; align-items: center;}
.smehighlight-info-button { align-items: flex-start; display: flex; }
.smehighlight-info-topic { float:left; width: 100%; }
.smehighlight-info-topic-prefix { float: left; width:100%; font-size: 2.5em; line-height: 0.8;}
.smehighlight-info-topic-title { font-size: 3em; position: relative;float: left; width:100%; line-height: 0.8;}
.smehighlight-info-topic-title img,
.smehighlight-info-topic-title svg { position: absolute;right: calc(100% + 10px);width: 1em;top: 50%;transform: translateY(-50%);}
.smehighlight-info-desc { float:left; width: 100%;}
.smehighlight-info-price { float: left; width: 100%; margin-top: .2em;}
.smehighlight-info-price b{ font-size:2em;line-height: .5;}
.smehighlight-info-button { float:left; width: 100%; margin-top: 20px;}



.sec-solutionSlide { float: left; width:100%; padding:0 10px; position: relative;}
.sec-solutionSlide .swiper-container { overflow:visible;}
.sec-solutionSlide .swiper-button-next { right:-1px; border-radius:5px 0 0 5px ;}
.sec-solutionSlide .swiper-button-prev { left:-1px; border-radius:0 5px 5px 0 ;}
.sec-solutionSlide .thumb-incard .thumb-group:before { display: none;}
.sec-solutionSlide .thumb .thumb-txt-h { font-size: 1.5em; line-height: 0.8;}
.sec-solutionSlide .thumb .thumb-txt-p { font-size: 1.2em; color:#f1d8b7;}
.sec-solutionSlide .ele-fluid-right { right:0;top: 30%;width: 20%;}

.sec-experienceSlide { float: left; width:100%;}
.box-experienceSlide { float: left; width:100%; position: relative; border-radius: 32px 32px 0 0 ; padding:2px 2px 60px 2px;background: rgb(236,122,86);background: linear-gradient(270deg, rgba(236,122,86,1) 0%, rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);}
.box-experienceSlide:before { position: absolute; content:""; width: 100%; height: 100%; top: 0; left: 0px;background: rgb(255,255,255);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);}
.inner-experience {float: left; width:100%;border-radius: 30px; border:2px solid #fff; padding:100px 120px;background: rgb(251,249,249);background: linear-gradient(180deg, rgba(251,249,249,1) 0%, rgba(241,203,207,1) 3%, rgba(255,255,255,1) 40%);}
.sec-experienceSlide .swiper-button-next { right:-20px;}
.sec-experienceSlide .swiper-button-prev { left:-20px;}

.box-experienceSlide .thumb-ver .thumb-img{ padding:0 10px}
.box-experienceSlide .thumb-ver .thumb-txt { margin-top:-15px;}
.box-experienceSlide .box-thumb a:hover .thumb-img img { transform: scale(1);}

.box-shadow { position: relative; box-shadow:0 25px 25px 0 rgb(172 37 99 / 20%)}
.box-shadow:before {content: "";position: absolute;height: 40px;bottom: -20px;width: 90%;left: 5%;background-color: #6a1a43;opacity: 0.5;border-radius: 100%;filter: blur(10px);}


.sec-smepackcate  { float: left; width: 100%;}
.sec-smepackcate .swiper-container { overflow:visible;}
.smepackcate-title { float: left; width: 100%; display: flex; align-items: center; position: relative;}
.smepackcate-title:before { content: ""; position: absolute; width: 500%; top: 0%; left: 50%; transform: translateX(-50%); height:50%; background-color: #fff; border-bottom: 1px solid #dd1b24; }
.smepackcate-title h2 { position: relative; float: left;padding: 0.1em 1em;color: #fff;font-size: 2em;line-height: 1;}
.smepackcate-title h2 b { position: relative;}
.smepackcate-title h2:before {transform: skewX(-20deg);content: "";border-radius:.2em;background-color: #dd1b24;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.smepackcate-title a { margin-left: auto; }

.smepackcate-slide { float: left; width: 100%; padding: 50px 0 ;}
.smepackcate-color-1 .smepackcate-title:before {border-bottom: 1px solid rgba(246,146,30,1);}
.smepackcate-color-2 .smepackcate-title:before {border-bottom: 1px solid rgba(0,184,255,1);}
.smepackcate-color-3 .smepackcate-title:before {border-bottom: 1px solid rgba(217,0,139,1);}
.smepackcate-color-4 .smepackcate-title:before {border-bottom: 1px solid rgba(6,0,255,1);}
.smepackcate-color-5 .smepackcate-title:before {border-bottom: 1px solid rgba(255,0,63,1);}
.smepackcate-color-1 .smepackcate-title h2:before {background: rgb(220,31,0);background: linear-gradient(90deg, rgba(220,31,0,1) 0%, rgba(246,146,30,1) 100%);}
.smepackcate-color-2 .smepackcate-title h2:before {background: rgb(19,64,191);background: linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);}
.smepackcate-color-3 .smepackcate-title h2:before {background: rgb(188,0,148);background: linear-gradient(90deg, rgba(188,0,148,1) 0%, rgba(217,0,139,1) 100%);}
.smepackcate-color-4 .smepackcate-title h2:before {background: rgb(13,1,103);background: linear-gradient(90deg, rgba(13,1,103,1) 0%, rgba(0,2,175,1) 35%, rgba(6,0,255,1) 100%);}
.smepackcate-color-5 .smepackcate-title h2:before {background: rgb(103,1,36);background: linear-gradient(90deg, rgba(103,1,36,1) 0%, rgba(175,0,49,1) 35%, rgba(255,0,63,1) 100%);}
.smepackcate-color-1 .tablecate-head-group .tablecate-head-group-topic {color: rgba(246,146,30,1);}
.smepackcate-color-2 .tablecate-head-group .tablecate-head-group-topic {color: rgba(0,184,255,1);}
.smepackcate-color-3 .tablecate-head-group .tablecate-head-group-topic {color: rgba(217,0,139,1);}
.smepackcate-color-4 .tablecate-head-group .tablecate-head-group-topic {color: rgba(6,0,255,1);}
.smepackcate-color-5 .tablecate-head-group .tablecate-head-group-topic {color: rgba(255,0,63,1);}
.smepackcate-color-1 { background: url(../img/bg/bg-sme-cate-1.jpg) center top no-repeat; background-size: cover;}
.smepackcate-color-2 { background: url(../img/bg/bg-sme-cate-2.jpg) center top no-repeat; background-size: cover;}
.smepackcate-color-3 { background: url(../img/bg/bg-sme-cate-3.jpg) center top no-repeat; background-size: cover;}
.smepackcate-color-4 { background: url(../img/bg/bg-sme-cate-4.jpg) center top no-repeat; background-size: cover;}
.smepackcate-color-5 { background: url(../img/bg/bg-sme-cate-5.jpg) center top no-repeat; background-size: cover;}

.box-download { position:fixed; bottom: 0px; right: 0px; z-index: 9; }
.btn-downloadmain { position: relative; display: flex; align-items: center; color:#fff; padding: .5em 1.5em;}
.btn-downloadmain:before { border-radius:1em 0 0 0; position: absolute; width:calc(100% + 40px); height:calc(100% + 0px); right:-40px; bottom:0px; content:""; background-color: #c11c3a; transform:skewX(-30deg);}
.btn-downloadmain img,.btn-downloadmain svg { width:3em; position: relative; fill:#fff; margin-right: 10px;}
.download-txt {position: relative; float: left; display: grid; }
.download-txt .download-txt-sm { font-size: 0.7em; float: left; width: 100%;}
.download-txt .download-txt-xl { font-size: 1.8em; line-height: 0.6; float: left; width: 100%;}
.btn-downloadmain:hover {color:#fff;}
.btn-downloadmain:hover:before { background: rgb(250,175,64);background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);}


.sec-smedetail { float:left; width: 100%; position: relative;}
.sec-smedetail .box-jumpto { position: absolute; top: 20px; left:0px; z-index: 9;}

.box-smedetail-banner .cont-txt { width: 40%; }
.smedetail-banner-detail hr { border-top: 1px solid rgba(255,255,255,0.2); width: 100px; margin-left: auto; margin-right: auto;}
.smedetail-banner-topic { display: flex; align-items:flex-end; justify-content: center;}
.smedetail-banner-topic img ,.smedetail-banner-topic svg { width: 80px; fill:#fff; margin-right: 0.5em;}

.sec-smeall {}
.box-smeall { position: relative; float: left; width: 100%;}
.box-smeall:before { border-radius:30px; position: absolute; content:""; top:35px; left:-50px; width: calc(100% + 100px); height: calc(100% - 35px); background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(246,146,30,1) 80%); }
.box-smeall:after { border-radius:28px; position: absolute; content:""; top:calc(35px + 2px); left:calc(-50px + 2px); width: calc(100% + 100px - 4px); height:calc(100% - 35px - 2px); background-color: #fff;}
.box-smedetail-tab { width: 100%;float: left; padding:0 80px; position: relative; z-index: 2; margin-bottom:2em;}
.box-smedetail-tab .smedetail-tab-list ul{ position: relative; display: flex;align-items: center;justify-content: center; background-color: #fff;}
.box-smedetail-tab .smedetail-tab-list ul:before { position: absolute; content: ""; top: 0px; right: 100%; height: 100%; width:100px;background: rgb(255,255,255);background: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);  }
.box-smedetail-tab .smedetail-tab-list ul:after { position: absolute; content: ""; top: 0px; left: 100%; height: 100%; width:100px;background: rgb(255,255,255);background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);  }
.box-smedetail-tab .smedetail-tab-list ul li{ width: 100%;float: left;text-align: center;margin: 0 8px;}
.box-smedetail-tab .smedetail-tab-list ul li:first-child{ margin-left: 0px;}
.box-smedetail-tab .smedetail-tab-list ul li:last-child{ margin-right: 0px;}
.box-smedetail-tab .smedetail-tab-list ul li a{ border: 2px solid #555; border-radius: 5px;width: 100%;float: left; min-height:3em; display: flex; align-items: center; justify-content: center; padding:.2em .5em; background-color: #fff;}
.box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid #dd1b24; color:#dd1b24}
.box-smedetail-info { float: left; width: 100%; position: relative; z-index: 1; margin-bottom:2em;}
.box-smedetail-list { float: left; width: 100%; position: relative; margin-bottom:2em;}
.box-smedetail-list .swiper-button-next { right:0px;}
.box-smedetail-list .swiper-button-prev { left:0px;}
.box-smedetail-list { display: none;}
.box-smedetail-list .swiper-pagination { bottom:-40px;}

.smedetail-cate-mobile .box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid rgba(246,146,30,1); color:rgba(246,146,30,1);}
.smedetail-cate-internet .box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid rgba(0,184,255,1); color:rgba(0,184,255,1);}
.smedetail-cate-tv .box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid rgba(217,0,139,1); color:rgba(217,0,139,1);}
.smedetail-cate-fixedline .box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid rgba(6,0,255,1); color:rgba(6,0,255,1);}
.smedetail-cate-value-set .box-smedetail-tab .smedetail-tab-list ul li a.active { border:2px solid rgba(255,0,63,1); color:rgba(255,0,63,1);}
.smedetail-cate-mobile .box-smeall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(246,146,30,1) 80%); }
.smedetail-cate-internet .box-smeall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(0,184,255,1) 80%); }
.smedetail-cate-tv .box-smeall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(217,0,139,1) 80%); }
.smedetail-cate-fixedline .box-smeall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(6,0,255,1) 80%); }
.smedetail-cate-value-set .box-smeall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(255,0,63,1) 80%); }
.smedetail-cate-mobile .box-smedetail-info h3 { color:rgba(246,146,30,1);}
.smedetail-cate-internet .box-smedetail-info h3 {color:rgba(0,184,255,1);}
.smedetail-cate-tv .box-smedetail-info h3 {color:rgba(217,0,139,1);}
.smedetail-cate-fixedline .box-smedetail-info h3 {color:rgba(6,0,255,1);}
.smedetail-cate-value-set .box-smedetail-info h3 {color:rgba(255,0,63,1);}


/**
 * ----------------------------------------
 * CLOUD GAME ???
 * ----------------------------------------
 */
 .st.search-tag .box-content h1  {font-size: 2em;}
 .st.search-tag .box-content h2 {font-size: 1.2em;}
 
.box-table .box-content hr {width: 100%;}
.box-table .box-content hr {border-top: 2px;border-style: solid;border-image: linear-gradient(to right, #fa9f1d 19%,#ec2c4b 54%, #ec2c4b 98%, #E52C30);border-image-slice: 1;}



.sec-listing-detail .cont-contain h1 { font-family: 'TrueBoldSpecial' }
.sec-listing-detail .cont-contain h2 {font-family: 'TrueBold'; }
.sec-listing-detail .box-content h1{font-size: 2em;line-height: 0.8;}
.sec-listing-detail .box-content h2{font-size: 1.2em;line-height: 1;}
.sec-listing-detail .cont-txt{padding: 0 100px;}
.sec-listing-detail .listing-detail-bg .container {min-height: 400px;}
.sec-listing-detail .listing-detail-bg { background-position: center bottom;}



/*
|*******************************************************************************************
| Class Custom
|*******************************************************************************************
*/

.st.line-clamp-0 .box-thumb .thumb .thumb-txt-h,
.st.line-clamp-0 .box-thumb .thumb .thumb-txt-p{-webkit-line-clamp: inherit;}


@media (min-width: 1921.98px){
	.st .cont-txt {padding: 40px 15px;}
}
@media (max-width: 1599.98px){	

	.container-1600 { max-width:1140px;}
	.blocks-content{max-width:1380px; margin: 0 auto;}

	/* FONT SIZE */
	/* .section-header { font-size: 0.9em;} 
	.box-content { font-size:0.9em; }
	.box-thumb { font-size:0.9em; } */

	.inner-experience {padding:80px 80px }
	.box-smedetail-banner .cont-contain { padding:20px 0 ;}
	.smedetail-banner-topic img, .smedetail-banner-topic svg { width: 60px;}
	.smedetail-banner-detail hr { margin-top: 5px; margin-bottom: 5px;}
	.smedetail-banner-detail h1 { font-size: 2.4em;}
}

@media (max-width: 1439.98px){
	.blocks-content{max-width:1300px; margin: 0 auto;}
	.image-fluid { width: 133.33vw;}
	
}
@media (max-width: 1359.98px){
	.container-1360 { max-width:1140px;}
	
}

@media (max-width: 1199.98px){
	.container-1360,.container-1600  { max-width:960px;}
	

	/*
	|*******************************************************************************************
	| FONT SIZE
	|*******************************************************************************************
	*/
	.box-content { font-size:0.9em; }
	.box-thumb { font-size:0.9em; }
	.btn {font-size: .9rem;}
	.form-group { font-size: 0.9em;}
	
	
	.tablecate-list { font-size: .9em;}
	.tablecate-detail { font-size: 1em;}
	.tablecate-detail-group { font-size: 0.85em;}

	.smehighlight-info { font-size: 0.9em;}
	.smehighlight-info-topic-prefix { font-size: 2em;}
	.smehighlight-info-topic-title { font-size: 2.5em;}

	.smepackcate-title h2 { font-size: 1.6em;}
	/*
	|*******************************************************************************************
	| UI
	|*******************************************************************************************
	*/
	.form-group .file-input__label svg { height: 10px;}

	/*
	|*******************************************************************************************
	| CUSTOM PAGE
	|*******************************************************************************************
	*/

	.st .box-table{padding: 30px;}
	.st .box-table:hover::before {border-width: 0 70px 70px 0;}
	.sec-listing-detail .listing-detail-bg .container {min-height: 220px;}
	
	.jumpto-item .btn span { padding: .8em .4em;}
	.jumpto-title { font-size: 0.9em;} 

	/*
	|*******************************************************************************************
	| ONLY IN TRUE BUSINESS
	|*******************************************************************************************
	*/
	.g-offer-topic { font-size: 1.2em;}

}

@media (max-width: 991.98px) {
	.container-1360,.container-1600  { max-width:720px;}

	/* .box-premenu {margin-top: 80px;} */

	.bg-fullwidth {background-repeat: no-repeat;background-position: center top ;background-size: cover;}
	.bg-fullwidth-contain{background-size: contain;}
	
	.sec { margin-bottom:60px;}
	.videoplay-icon {width: 60px;height: 60px;}
	
	/* .cont-list-swiper-custom .swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: -35px;}
	.cont-list-swiper-custom .swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: -35px;} */

	/* .box-content h1	{ font-size:3.4em;  }
	.box-content h2	{ font-size:2.2em; }
	.box-content h3	{ font-size:1.81em;}
	.box-content h4	{ font-size:1.5em;}
	.box-content h5	{ font-size:1.2em;}
	.box-content h6	{ font-size:1.1em;} */

	

	/*
	|*******************************************************************************************
	| FONT SIZE
	|*******************************************************************************************
	*/
	.st-banner .box-content { font-size:0.7em; }

	.tablecate-detail-group { font-size: 1em;}
	.btn-download { font-size: 0.7em;}
	.download-txt .download-txt-sm { font-size: 0.9em;}

	.smedetail-banner-detail { font-size: 0.8em;} 
	.smedetail-banner-detail h1 { font-size: 2em;}
	
	.box-smedetail-tab { font-size: 0.9em;}
	

	
	/*
	 |*******************************************************************************************
	 | ELEMENT
	 |*******************************************************************************************
	*/
	.section-contact h3 { font-size:26px;}
	
	.premenu-list { padding:0 40px;}

	.tab-nav-list a{min-width: 150px}

	.breadcrumb-item.active{max-width: 90%;}
	.sec-listing-detail .cont-txt{ padding: 0 50px;}

	/*
	 |*******************************************************************************************
	 | CONTENT
	 |*******************************************************************************************
	*/
	.blocks-content-detail {border-radius: 40px;padding: 20px 0;}
	.tag-group{padding-top: 30px;}
	.st .box-table{padding: 60px 25px;}

	.box-detail-topic { display: block; border-bottom: 0px; padding-bottom: 0px;}
	.box-detail-topic h1 { border-bottom: 1px solid rgba(0, 0, 0, .1); padding-bottom: 10px; margin-bottom: 10px;}
	.box-detail-info { display: flex; align-items: center;}
	.box-share{ margin-left: auto; position: relative!important; top:0; right:0; display: flex; align-items: center; width: auto; float:right}
	.box-share ul { width: auto; margin-top: 0px; margin-left: 10px;}
	.box-share li { float: left; margin-left: 10px; padding-bottom: 0;}
	.box-share li:first-child { margin-left: 0px;}
	.box-share .share-title { float: left;}
	.box-detail-topic .date-post { margin-left: 0px; float: left; margin-top: 0px;}
	/*
	 |*******************************************************************************************
	 | THUMB
	 |*******************************************************************************************
	*/
	.box-thumb-hl { margin-bottom: 20px;}
	.box-thumb-hl:before { bottom: 0;}
	.st .list-highligh .thumb-txt { padding-left: 1.5em;}
	/*
	|*******************************************************************************************
	| ONLY IN TRUE BUSINESS
	|*******************************************************************************************
	*/
	/* FONT SIZE */
	.sec-solutionSlide .thumb .thumb-txt-h {font-size: 1.2em;}


	.jumpto-title { display: none;}

	.smehighlight-list { display: block;}
	.smehighlight-info { float: left; width: 100%;}
	.smehighlight-group { float:left; width: 100%;}

	.inner-experience { padding: 60px 60px;}

	.date-post { margin-top: 0.3em;}
	.date-post svg, .date-post img { width: 12px; height: 12px;}

	.list-highlight2-main .thumb .thumb-txt-h { font-size: 1em;}
	.list-highlight2-sidebar .box-thumb { margin-bottom: 10px;}

	.sec-smedetail .box-jumpto { position: relative; top:0px; padding: 8px 0;}
	.box-smedetail-tab { padding: 0 0px;}
	.box-smedetail-tab .smedetail-tab-list ul:before,
	.box-smedetail-tab .smedetail-tab-list ul:after { width: 40px;}
	.sec-smedetail .jumpto-group { padding:0;}
	.sec-smedetail .jumpto-item .btn span { padding:0.6em 0.4em;}
	.smedetail-banner-topic img, .smedetail-banner-topic svg { width: 45px;}

}
@media (max-width: 767.98px) {	
	.container-1360, .container-1600 { max-width: 540px; }

	.cont-list-swiper-custom .swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: 10px;}
	.cont-list-swiper-custom .swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: 10px;}
	

	/*
	 |*******************************************************************************************
	 | FONT SIZE
	 |*******************************************************************************************
	*/
	.st-banner .box-content { font-size: 0.5em;}
	.box-content {font-size: 0.7em;}
	.box-thumb  {font-size: 0.7em;}

	/*
	 |*******************************************************************************************
	 | HEADER
	 |*******************************************************************************************
	*/
	.box-menu { display: none;}
	.box-menu{background-size: auto;}

	/*
	 |*******************************************************************************************
	 | FOOTER
	 |*******************************************************************************************
	*/
	.box-footer-appointment {padding: 10px 0;font-size: 1em;}
	.box-footer-call .txt-group-1 .txt-2 { font-size: 1.2em;}
	.box-footer-call .foot-call-info { margin-top: 10px;}
	.footer-menu-group { width: 100%;}
	.footer-menu-logo { width: calc(100% + 30px); margin: 0px -15px 0px -15px; background-color: #999999; padding: 15px; }
	.footer-menu-logo img { float: left; width: 80px;}

	.box-footer-menu { padding:0px; }
	.footer-menu-group .col { padding: 0;}
	.footer-menu-title { padding: 15px; margin: 0; border-bottom: 1px solid rgba(0, 0, 0, .1);}
	.footer-menu-title p { border-bottom: none;}
	.footer-menu-title svg { position: absolute; right: 17px; top: 18px;width: 16px; height: 16px; fill:#ccc;}
	.footer-menu-title.active svg { transform: rotate(180deg);}
	.footer-list { padding: 15px 15px 15px 45px; background-color: #f4f4f4; display: none;}
	.box-footer-base { padding-bottom: 0px;}
	.footer-base-copy { width: calc(100% - 120px);}
	.footer-base-social { width: 120px; padding-bottom: 10px;}
	.footer-base-policy { float:left; width: calc(100% + 30px); margin-left: -15px; background-color: #fff; padding:10px 0; color: #999999; text-align: center;}
	

	

	/*
	 |*******************************************************************************************
	 | TEMPLATE
	 |*******************************************************************************************
	*/
	
	

	/* .st .box-content{ font-size:6vw; }
	.st .box-content h1 { font-size:14vw;}
	.st .box-content h2 { font-size:12vw;}
	.st .box-content h3 { font-size:10vw;}
	.st .box-content h4 { font-size:9vw;}
	.st .box-content h5 { font-size:8vw;}
	.st .box-content h6 { font-size:6.5vw;}
	.st .box-content-button .btn { font-size:6vw;} */
	
	.st .cont-img { width: 100%;} 
	.st .cont-txt { width: 100%;} 
	.st .cont-img + .cont-txt { margin-top:20px;}
	.st .cont-txt + .cont-img { margin-top:20px;}
	
	.st-banner .container { max-width:100%;}

	.sec-listing-detail .box-content h1 {font-size: 12vw;}
	.sec-listing-detail .box-content h4 {font-size: 7.5vw;}

	.list-highlight2-sidebar .box-thumb { margin-bottom: 20px;}
	/*
	|*******************************************************************************************
	| TAB & ACCORDION
	|*******************************************************************************************
	*/
	.tab-nav {overflow: hidden;overflow-x: scroll;border: 1px solid #ec1f26;border-radius: 50px;background-color: #fff;width: auto;max-width: 100%;float: none;display: inline-block;}
	.tab-nav ul {display: flex;display: -webkit-flex;justify-content: space-between;width: max-content;margin: 0 auto;}
	.tab-nav ul{border:none; border-radius:0; background-color: transparent;width: 100%;}
	.tab-nav::-webkit-scrollbar-track{background-color: transparent; height: 0px;}
	.tab-nav::-webkit-scrollbar{background-color: transparent;height: 0px;}
	.tab-nav::-webkit-scrollbar-thumb{background-color: transparent;height: 0px;}

	.sec-listing-detail .box-content h1 {font-size: 1.4em;}
	.sec-listing-detail .box-content h2 {font-size: 1em;}


	/*
	 |*******************************************************************************************
	 | CONTENT
	 |*******************************************************************************************
	*/
	
	.st-banner{background-color: #e1def74d;}
	.search-tag.st-banner{background-color: transparent;}
	.sec-tag-search-list{background-image: none !important;}
	.custom-listing-search-tag .sec-lists {padding-top: 0;}


	.blocks-content{width: 100%;}
	/* .tag-group .tag-title{padding-top: 12px;}
	.tag-group{padding-top: 50px;font-size: 1.5em;} */
	.blocks-content-detail{border-radius: 0;margin-top: 20px;}
	

	/* .box-share {position: relative;right: 0;top: 0;z-index: 2;width: 100%;text-align: center;float: left;}
	.sidebar__inner {justify-content: center;float: left;position: relative;top: 0;width: 100%;display: flex;align-items: center;text-align: center; background-color: #f6f5fc; padding:10px 0;}
	.box-share .share-title {transform: none;display: flex;position: relative;top: 0;width: max-content;}
	.box-share .share-title h6 { line-height: 0.7;}
	.box-share ul {float: left;width: max-content;text-align: center;margin-top: 0px;display: flex;}
	.box-share li {padding-left: 10px;padding-bottom: 0px;}
	.box-share li a { width: 30px; height: 30px;}
	.sidebar__inner ul li .share-fb svg { width: 6px;}
	.sidebar__inner ul li .share-tw svg { width: 14px;}  */


	.tag-group .tag-title { padding-top: 12px;}
	.tag-group { padding-top: 20px;}

	.box-detail-topic h1 { font-size: 1.2em;}

	.sec-relate { padding: 0px;}

	.footer-banner .cont-img{display: none;}
	.st.footer-banner .cont-txt .btn{padding: 0.3em 1.8em;}
	.st.cloud-game-app .cont-img + .cont-txt {margin-top: -50px;}
	.st.cloud-game-app .cont-txt .col-sm-3.nexitor-col img{  width: 20%;}
	.st.cloud-game-app .cont-txt .col-sm-3.nexitor-col .box-content{padding-bottom: 20px;}
	.st.cloud-game-mode.ele-skew-gray-left::before{background-size: contain;bottom: 0;}
	.banner-cloud-game .ele_img1,
	.banner-cloud-game .ele_img2{display: none;}
	.st.cloud-game-mode.ele-skew-gray-left::before {background: url(/assets/img/skin/bg-skew-gray-left-game-m.png) bottom center no-repeat; background-size: 100% 100%;width: calc(100% - 20px);height: 100%;right: 0px;left: 0px; }
	.banner-cloud-game .bg-fullwidth{background-size: 100% !important;}
	.banner-cloud-game .cont-txt .row .col-12.nexitor-col .box-content:nth-of-type(1) img {width: 80%;margin-bottom: 2vw;}
	.cloudgame-video .ele_img1{    top: -4%;left: -50%;margin-left: 32%;width: 100%;}
	.cloudgame-netboom .thumb{padding:0 30px;}
	.st.banner-cloud-game .box-content:nth-of-type(5) h3 {margin-bottom: 5px;}
	.st.banner-cloud-game .box-content:nth-of-type(6) h3 {margin-bottom: 5px;line-height: 0.85;}
	.st.banner-cloud-game .box-content:nth-of-type(7) h4 {line-height: 0.6;}
	.st.footer-banner .cont-txt {left: 0; width: 100%;bottom: 0;}
	.st.footer-banner .cont-txt .box-content{bottom: -44vw;transform: translateX(-50%);left: 50%;}
	.all-cloud-game .ele_img2{display: none;}
	.cloudgame-ultra{padding-bottom: 0;}
	.cloudgame-ultra .ele_img1 {display: none;}
	.st.cloudgame-ultra .cont-img{ display: none;}
	.cloudgame-ultra .box-content .sm-text-cont {font-size: 5vw;}
	.st.cloudgame-ultra .cont-txt {margin-top: 80%;}


	.bg-set-margin-column-left{margin-left: 0;width: 100%;padding-left: 15px;padding-right: 15px;}
	.bg-set-margin-column-right{margin-right: 0;width: 100%;padding-left: 15px;padding-right: 15px;}
	
	.custom-listing-search-tag .ele_img2 {bottom: -9%; left: -50%;}
    .custom-listing-search-tag .ele_img1 {top: 140px;width: 490%;max-width: none;left: 50%;transform: translateX(-62%);}
	.sec-packet .box-content.box-content-button {margin-top: 25%;}
	.custom-listing-search-tag .ele_img1.abs{display: none;}

	/*
	 |*******************************************************************************************
	 | THUMB
	 |*******************************************************************************************
	*/



	.perview_table_1 .box-table {width:100%;}


	.st .list-highligh .thumb-group { display: block;}
	.st .list-highligh .thumb-txt { padding-left: 0;}
	.box-thumb-hl { padding-bottom: 30px; margin-bottom: 30px;}
	/*
	|*******************************************************************************************
	| ONLY IN TRUE BUSINESS
	|*******************************************************************************************
	*/
	.sec-smehighlight { padding-top: 50px; background: rgb(236,229,240);background: linear-gradient(0deg, rgba(236,229,240,1) 0%, rgba(255,255,255,0) 100%);}
	.sec-smehighlight .box-jumpto { margin-top: 0px;}
	.box-smehighlight .swiper-button-prev { left:-16px;}
	.box-smehighlight .swiper-button-next { right:-16px;}
	.ele-fluid-top-m { top: 0; left: -15px;width: 100%;}
	.smehighlight-info { padding-left: 3em;}
	.jumpto-title { color:#333; width: 100%; font-size: 1.2em; margin-bottom: .5em; text-align: center;}

	.sec-solutionSlide { padding: 0 15px;}
	.sec-solutionSlide .ele-fluid-right { width: 70%;}
	
	.inner-experience { padding: 60px 30px;}
	.inner-experience .swiper-slide { margin-bottom: 20px;}

	.box-smedetail-banner .cont-contain { padding: 10px 0;}
	.box-smedetail-banner .cont-txt { width: 40%;}

	.smedetail-cate-mobile .box-smedetail-info h3 { font-size: 1.8em;}


	
} 

@media (max-width: 575.98px)  {
	/*
	 |*******************************************************************************************
	 | FONT SIZE
	 |*******************************************************************************************
	*/
	/* 
	*/
	.box-content {font-size: 5.5vw;} 
	.st-banner .box-content { font-size: 5.5vw;}
	.box-thumb { font-size:5.5vw;} 
	.tablecate-list { font-size: 5.5vw;}



	.pd-m-0 { padding:0px;}
	/* .box-content h6 {font-size: 1.8em;} */
	.box-content-button .btn {font-size:1.5em;}

	/* 

	.box-content h1 { font-size:14vw;}
	.box-content h2 { font-size:12vw;}
	.box-content h3 { font-size:10vw;}
	.box-content h4 { font-size:9vw;}
	.box-content h5 { font-size:8vw;}
	.box-content h6 { font-size:6.5vw;}
	.st .box-content-button .btn{font-size:6vw;}
	 */
	.st .box-content-button {margin: 0 5px 10px;width: calc(100% - 10px);}

	.box-content-button.button-hoz { float:left; width:auto; display:inline-block;}
	.box-content-button.button-hoz + .box-content-button.button-hoz {}
	.box-content-button.button-hoz.button-col-none { width:auto; }
	.box-content-button.button-hoz.button-col-1 { width:100%; }
	.box-content-button.button-hoz.button-col-2 { width:calc(50% - 10px); }
	.box-content-button.button-hoz.button-col-3 { width:calc(33% - 10px); }
	.box-content-button.button-hoz.button-col-4 { width:calc(25% - 10px); }

	.cont-list-swiper-custom .swiper-button-next, .swiper-container-rtl .swiper-button-prev{right: -5px;}
	.cont-list-swiper-custom .swiper-button-prev, .swiper-container-rtl .swiper-button-next{left: -5px;}
	.cont-list-swiper-custom.perview_table_1 .swiper-button-next, .swiper-container-rtl .swiper-button-prev{    right: -5px;}
	.cont-list-swiper-custom.perview_table_1  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{    left: -5px;}

	
	/*
	 |*******************************************************************************************
	 | SECTION-FOOTER XR
	 |*******************************************************************************************
	*/
	.section-footer { float:left; width:100%; position:relative; background: rgb(92,13,61);background: linear-gradient(120deg, rgba(92,13,61,1) 0%, rgba(237,27,82,1) 100%);}
	.section-footer .footer-order-m{display: block; padding-top:10px; font-size: 12px;}

	.section-contact .contact-set { padding:10px 0;justify-content: space-between;}
	.section-contact h3 {font-size: 4vw;}
	.section-contact h4 {font-size: 4vw;}
	
	.contact-set .logo-contact img {width: 16px;}
	.contact-set .contact-first h4.t-black.t-gray a {font-size: 4vw;line-height: 15px;color: #373b3f;}
	.contact-set .contact-first h4 span.t-medium { font-size:3vw;}
	.contact-set .contact-first h4  a {font-size: 12px;}
	.contact-set .vertical-line{margin: 0;}
	
	.sec-listing-detail .cont-txt{   padding: 0;}
	.sec-listing-detail .sec-contain{padding: 50px 0 ;}
	/*
	 |*******************************************************************************************
	 | ELEMENT
	 |*******************************************************************************************
	*/
	.box-premenu { font-size:1.5em;margin-top: 80px;}
	.premenu-list { padding:0 15px;}
	.premenu-group ul { display: flex;align-items: center;}
	.bg-d{background-image:none !important }

	.st .thumb-hoz .thumb-txt-h {-webkit-line-clamp: 2;}
	.st .thumb-hoz .thumb-txt-p {-webkit-line-clamp: 2;}
	.st .thumb .thumb-txt-h{-webkit-line-clamp: 2;}
	.st .btn-sm-incard{padding: .6em 2em;font-size: 1em;min-width: 200px;}
	.st .thumb.thumb-hoz  .btn-sm-incard{padding: .5em 1.4em;font-size: 1em;padding: 0.5em 1.4em;min-width: auto;}
	.st .thumb.thumb-incard  .btn-sm-incard{padding: .6em 2em;font-size: 1em;min-width: 200px;}
	.st .thumb-hoz .thumb-txt{padding-left:15px;}

	.st .box-table{height: auto; margin: 10px 0;}
	.st-banner .cont-contain.text-center .cont-txt {width: 100%;}
	/*
	 |*******************************************************************************************
	 | CONTENT
	 |*******************************************************************************************
	*/
	.tag-group{font-size: 6vw;}

	.box-content-button.button-hoz.button-col-2:nth-child(odd){margin-left: 10px!important;}
	.box-content-button.button-hoz.button-col-2:nth-child(even){margin-left: 0 !important;}
	.box-content-button.button-hoz.button-col-3{margin-left: 5px !important;}

	.list-highligh a.btn-more {font-size: 1em;}
	
	/*
	 |*******************************************************************************************
	 | THUMB
	 |*******************************************************************************************
	*/
	.box-loadmore .btn { width: 60%;}
	/*
	|*******************************************************************************************
	| ONLY IN TRUE BUSINESS
	|*******************************************************************************************
	*/
	.box-smehighlight .swiper-button-prev { left:-16px; border-radius: 0 5px 5px 0 ;}
	.box-smehighlight .swiper-button-next { right:-16px; border-radius: 5px 0 0 5px;}

	.sec-solutionSlide .thumb .thumb-txt-h { font-size:1.5em;}

	.smepackcate-slide { padding: 30px 0 10px;}
	.tablecate-head-group .tablecate-head-group-detail { font-size: 1em;}
	.tablecate-detail-group { font-size: 0.85em;}
	.smepackcate-title h2 { margin-left: -25px;}


	.sec-smedetail .box-jumpto { position: absolute; top: 4vw;}
	.sec-smedetail .jumpto-group { padding: 2px;}

	.sec-smeall  {background: rgb(236,229,240);background: linear-gradient(-180deg, rgba(236,229,240,1) 0%, rgba(255,255,255,0) 100%); }
	.smedetail-banner-detail hr { margin-top: 4vw; margin-bottom: 4vw;}
	.box-smedetail-banner .cont-contain { padding:5vw 7vw; }
	.box-smedetail-banner .cont-txt { width: 100%;}
	.smedetail-banner-detail br { display: none; }
	
	.box-smedetail-info { margin-bottom: 1em;}
	.sec-smedetail .box-smeall:before,
	.sec-smedetail .box-smeall:after { display: none;}

	.box-smedetail-tab { padding: 0 15px; margin-bottom: 1em;overflow: hidden;overflow-x: scroll;width: calc(100% + 30px); margin-left: -15px;}
	.box-smedetail-tab::-webkit-scrollbar-track{background-color:transparent;border-radius: 0px;}
	.box-smedetail-tab::-webkit-scrollbar{width: 6px;background-color: transparent;border-radius: 0px;}
	.box-smedetail-tab::-webkit-scrollbar-thumb{background-color: transparent;border-radius: 0px;}

	.box-smedetail-tab .smedetail-tab-list ul {width: max-content;display: flex; background: none; padding-right: 15px; }
	.box-smedetail-tab .smedetail-tab-list ul li  { width: 160px;}
	.box-smedetail-tab .smedetail-tab-list ul li a { min-height: 2.5em;}
	.box-smedetail-tab .smedetail-tab-list ul:before, 
	.box-smedetail-tab .smedetail-tab-list ul:after { display: none;}
	
	.box-smedetail-listall { padding:5vw 15px; position: relative;}
	.box-smedetail-listall:before { border-radius:20px; position: absolute; content:""; top:0; left:0; width:100%; height:100%; background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(246,146,30,1) 80%); }
	.box-smedetail-listall:after { border-radius:18px; position: absolute; content:""; top:1px; left:1px; width: calc(100% - 2px); height:calc(100% - 1px); background-color: #fff;}

	.box-smeall .swiper-container { overflow: visible;}
	.box-smeall .swiper-button-next.swiper-button-disabled, 
	.box-smeall .swiper-button-prev.swiper-button-disabled { display: none!important;}
	.box-smeall .box-smedetail-list .swiper-button-next { right:-31px;border-radius: 5px 0 0 5px; }
	.box-smeall .box-smedetail-list .swiper-button-prev { left:-31px;border-radius: 0 5px 5px 0; }

	.smedetail-cate-mobile .box-smedetail-listall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(246,146,30,1) 80%); }
	.smedetail-cate-internet .box-smedetail-listall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(0,184,255,1) 80%); }
	.smedetail-cate-tv .box-smedetail-listall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(217,0,139,1) 80%); }
	.smedetail-cate-fixedline .box-smedetail-listall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(6,0,255,1) 80%); }
	.smedetail-cate-value-set .box-smedetail-listall:before {background: rgb(236,229,240); background: linear-gradient(0deg, rgba(236,229,240,0) 50%, rgba(255,0,63,1) 80%); }

}
/* @media (max-width: 420.98px)  {
	
}
@media (max-width: 374.98px)  {

} */



/* Bar loader */
.bar-loader {width: 50px;height: 50px;border-radius: 100%;position: relative;margin: 0 auto; }
.bar-loader span {display: inline-block;width: 5px;height: 30px;background-color: rgba(254, 124, 150, 0.7); }
.bar-loader span:nth-child(1) {-webkit-animation: grow 1s ease-in-out infinite;animation: grow 1s ease-in-out infinite; }
.bar-loader span:nth-child(2) {-webkit-animation: grow 1s ease-in-out 0.15s infinite;animation: grow 1s ease-in-out 0.15s infinite; }
.bar-loader span:nth-child(3) {-webkit-animation: grow 1s ease-in-out 0.30s infinite;animation: grow 1s ease-in-out 0.30s infinite; }
.bar-loader span:nth-child(4) {-webkit-animation: grow 1s ease-in-out 0.45s infinite;animation: grow 1s ease-in-out 0.45s infinite; }

@-webkit-keyframes grow { 
	0%, 100% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  	50% { -webkit-transform: scaleY(1.8); transform: scaleY(1.8); } 
}

@keyframes grow { 
	0%, 100% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  	50% {-webkit-transform: scaleY(1.8);transform: scaleY(1.8); } 
}
.area-loader {
    padding-top: 26px;
}

@media (min-width: 575.98px)  {
	.bg-m{background-image: none !important;}
}
