.g-feature .g-feature-thumb img{height: 50px;object-fit: contain;margin-bottom: 10px;}
.box-list-content {display: none;}
.box-list-content.active {display: block;}
.sme-tab-list ul li a.active{    border:2px solid rgb(220,31,0);border: linear-gradient(90deg, rgba(220,31,0,1) 0%, rgba(246,146,30,1) 100%);}
.box-jumpto.box-jumpto-custom {padding: 10px 0 80px;}
.banner-skew-custom .cont-txt{padding-left: 3em;}

.solution-thumb-ver .box-thumb{padding: 15px;overflow:hidden; transition: all ease-in;}
.solution-thumb-ver .box-thumb .thumb-txt {padding: 0 10px;}
.solution-thumb-ver .box-thumb .thumb-ele-buble{position: absolute;bottom: 0;right: 0;opacity: 0;}
.solution-thumb-ver .box-thumb .thumb-ele-buble img{float: left;width: 100%;}
.solution-thumb-ver .box-thumb:hover .thumb-txt .thumb-txt-h{color: rgb(255, 255, 255);-webkit-text-fill-color: rgb(255, 255, 255);background: none;}
.solution-thumb-ver .box-thumb:hover .thumb-txt .thumb-txt-p{color: #fff;}
.solution-thumb-ver .box-thumb:hover{background: rgb(250,175,64); background: linear-gradient(90deg, rgba(190,30,45,1) 0%,rgba(236,41,123,1) 60%, rgba(250,175,64,1) 100%);transition: all ease .5s;}
.solution-thumb-ver .box-thumb:hover .thumb-ele-buble{opacity: 1;}
.zindex-1{z-index: 1;}
.zindex-2{z-index:2;}
.ele_img-skew{right: 0;bottom: -50%;z-index: -1;width: 50%;}

.sec-solutionVideoSlide{width: 100%;float: left;}
.sec-solutionVideoSlide .swiper-container{overflow: visible;}
.sec-solutionVideoSlide .swiper-container .swiper-slide{border-radius: 35px;overflow: hidden;}
.sec-solutionVideoSlide .swiper-button-next{right: -30px;}
.sec-solutionVideoSlide .swiper-button-prev{left: -30px;}

.sec-benefit-table{width: 100%;float: left;position: relative;}
.sec-benefit-table .tablepack-list{background: rgb(243,242,247,1);
    background: linear-gradient(356deg, rgba(243,242,247,1) 0%, rgba(251,251,251,1) 80%);}
.sec-benefit-table .box-tablepack{    height: calc(100% - 20px); display: flex; margin: 20px 0;}
.sec-benefit-table .tablepack-body {height: calc(100% - 85px);display: flex;}

.sec-information{width: 100%;float: left;position: relative;border-radius: 15px;overflow: hidden;}
.box-info{width: 100%;float: left; background: linear-gradient(90deg, rgba(234,32,47,1) 0%,rgba(236,41,123,1) 60%, rgba(250,175,64,1) 100%);transition: all ease .5s;padding: 30px 0;    display: flex;flex-wrap: wrap;justify-content: center;}
.box-info .ele-buble-1{position: absolute;right: 0;bottom: 0;    width: 30%;}
.box-info .ele-hand{position: absolute;left: 0;bottom: 0;    width: 18%;}
.box-mirror{font-size: 1em;z-index: 1; color: #fff; width: auto;float: left; padding: 20px 40px; display: flex; align-items: center;justify-content: center;     backdrop-filter: blur(7px) saturate(141%);-webkit-backdrop-filter: blur(7px) saturate(141%);background-color: rgba(255, 255, 255, 0.21);border-radius: 12px;}
.box-mirror .box-mirror-t{padding: 0 20px;display: flex;align-items: center;}
.box-mirror .box-mirror-t span{font-size: 2.4em;}
.box-mirror .box-mirror-s{padding:  20px;position: relative;}
.box-mirror .box-mirror-s::after{content:"";position: absolute;left: 50%; top: 0;width: 1px;height: 15px; background-color: #fff;transform: translateX(-50%);}
.box-mirror .box-mirror-s::before{content:"";position: absolute;left: 50%; bottom: 0;width: 1px;height: 15px; background-color: #fff;transform: translateX(-50%);}
.box-mirror .box-mirror-b{padding: 0 20px;}
.box-mirror .box-mirror-b .btn{color:#ea202d;}
.box-mirror .box-mirror-b .btn:hover{ background: linear-gradient(90deg, rgba(234,32,47,1) 0%,rgba(236,41,123,1) 60%, rgba(250,175,64,1) 100%); color: #fff;}

.solution-title-gr .box-content h1,.solution-title-gr .box-content h2,.solution-title-gr .box-content h3,.solution-title-gr .box-content h4,.solution-title-gr .box-content h5,.solution-title-gr .box-content h6{    background: rgb(250,175,64);background: -webkit-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);background: -moz-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.ele-fluid-top{top: 0;left: 0;}
.ele-fluid-lb{    bottom: -15%;left: -50%;margin-left: -30%;}
.slt-bg-outline{padding: 15px 5px;width: 100%;float: left;  top: 0; left: 0;}
.slt-bg-graphic {padding: 15px 5px;width: 100%;float: left;  top: 0; left: 0;}
.inner-solution {float: left;width: 100%;border-radius: 30px;border: 2px solid #fff;padding: 100px 120px;background: #fff;}

.st .inner-solution .thumb-ver .thumb-img{padding: 4px;}
.inner-solution .box-thumb a .thumb-img img {background-color: #fff;border-radius: 50%;padding: 7px;box-shadow: 0px -3px 0px 0px rgb(128 128 128 / 12%);-moz-box-shadow: 2px 0px 18px 4px rgba(128,128,128,0.64);}
.sec-experience-business{width: 100%;float: left;padding: 20px 100px;}
.sec-experience-business .box-thumb {margin-bottom: 60px;}
.sec-experience-business .box-thumb .thumb-img {width: 70%;margin: 0 auto;}
.ele-exp-bt{left:0%;bottom: 0;}
.ele-exp-tr{right: 0;top: -30%;z-index: -1;}
.ele-exp-tl{left: 0;top: -25%;z-index: -1;}
#sec_id_16{overflow: hidden;}
@media (max-width: 1599.98px){
	.inner-solution{    padding: 80px;}
}

@media (max-width: 1439.98px){
}
@media (max-width: 1199.98px){
	.sec-experience-business{padding: 20px 40px;}
}
@media (max-width: 991.98px) {
	
	.inner-solution{    padding: 40px;}
	.inner-solution .box-thumb{padding: 10px;}
	.st .thumb-hoz.thumb-lr .thumb-txt-h{font-size: 1.6em;}
}

@media (max-width: 767.98px) {	
	.banner-skew-custom .cont-txt{padding-left: 15px;}

	
	.st .thumb-hoz.thumb-lr .thumb-img{width: 100%;}
	.st .thumb-hoz.thumb-lr .thumb-txt{width: 100%;padding: 0;}
	.st .thumb-hoz.thumb-lr .thumb-txt-h{font-size: 1.6em;}
	.ele-fluid-lb{    bottom: -5%;}
	.sec-solutionVideoSlide .swiper-container .swiper-slide{border-radius: 10px;}


	.ele-buble-slt-ttc{width: 100%;float: left;}
	.ele-slt-bt{bottom: 0;right: 0;width: 100%;}


	.sec-benefit-table .box-tablepack{height: auto;margin: 0; margin-bottom: 10px;}
	.sec-benefit-table .tablepack-body {display: none;height: auto;}
	.inner-solution{    padding: 60px 30px;}
	.inner-solution .thumb  .thumb-txt-h{    -webkit-line-clamp: inherit;    font-size: 6vw;}
	.solution-thumb-ver .box-thumb{padding: 0;}
	.box-mirror{flex-wrap: wrap;padding: 20px;margin: 20px;z-index: 1;}
	.box-mirror .box-mirror-s::before{ content:"";   left: 0; bottom: 50%;width: 15px;height: 1px;    transform: translateX(-50%);}
	.box-mirror .box-mirror-s::after{  content:"";     left: 100%;bottom: 0;top: 50%;width: 15px;height: 1px;transform: translateX(-50%);}
	.box-info .ele-buble-1{width: 100%;}
	.sec-benefit-table .icon-toggle:before{background-color: #fff;}
	.sec-benefit-table .icon-toggle:after{background-color: #fff;}
	.sec-experience-business {padding: 0;}
}

@media (max-width: 575.98px) {
}

@media (max-width: 420.98px) {
	
}

@media (max-width: 374.98px)  {
	
}

@media (min-width: 767.98px) {	
	.text-md-middle{ display: flex; align-items: center!important;}
}

