html {background-color: #fff;xcursor: none;}

* { box-sizing:border-box;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height:1.5}
a { color:#0636a9; outline:none; text-decoration:none; /*transition:all ease .5s;*/ cursor:pointer;}
a:hover { text-decoration:none; color:#0636a9;}
a:focus { outline:none; box-shadow:none;}
strong,b { font-weight:blod;}
img { max-width:100%;}
.minwidth-0 { min-width:0!important;}
.form-control.form-style-border:focus { box-shadow:none;border-color: #084ea6;}
.tinline { display:inline-block;}
.text-uppercase { text-transform:uppercase;}

.clear { float:left; width:100%; clear:both;}
.loadpage { position:fixed; top:0px; left:-25%; width:150%; height:100%; z-index:999; background:#0636a9 ; }
.wrapper { float:left; width:100%; overflow:hidden;}
.container-full { width:100%; padding:0 60px;}
.outer-container { width:calc(100% + 30px)!important; margin-left:-15px; max-width:none;}


/*
 |*******************************************************************************************
 | FORM
 |*******************************************************************************************
*/
.check-group { float:left; width:100%; text-align:left;font-size:14px;font-weight:300;}
.check-group .check-title { float:left; margin-right:20px; width:auto; font-weight:400; margin-bottom:10px;}
.check-group .check-line { float:left; margin-right: 20px; color:#ccc}
.check-group .check-list { float:left; width:100%; margin-bottom:10px; }
.check-group.checkinline .check-title { margin-bottom:0px;}
.check-group.checkinline .check-list { margin-bottom:0px;}
.check-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.check-group input[type=checkbox] { display:none;}
.check-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:0px; background-color:#fff; border:2px solid #d9dbda; border-radius:4px;}
.check-group input[type=checkbox]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.check-group label:after { content:""; position:absolute;} 
.check-group input[type=checkbox]:checked + label:after { width:10px; height:10px; top:5px; left:5px; border-radius:2px; background-color:#0636a9; } 
.check-group.checkinline .check-list { width:auto;}

.radio-group { float:left; width:100%; text-align:left;font-size:14px;font-weight:300;}
.radio-group .radio-title { float:left; margin-right:20px; width:auto; font-weight:400; margin-bottom:10px;}
.radio-group .radio-line { float:left; margin-right: 20px; color:#ccc}
.radio-group .radio-list { float:left; width:100%; margin-bottom:10px; }
.radio-group.radioinline .radio-title { margin-bottom:0px;}
.radio-group.radioinline .radio-list { margin-bottom:0px;}
.radio-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.radio-group input[type=radio] { display:none;}
.radio-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:0px; background-color:#fff; border:2px solid #d9dbda; border-radius:100%;}
.radio-group input[type=radio]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.radio-group label:after { content:""; position:absolute;} 
.radio-group input[type=radio]:checked + label:after { width:10px; height:10px; top:5px; left:5px; border-radius:100%; background-color:#0636a9; } 
.radio-group.radioinline .radio-list { width:auto;}

/*
 |*******************************************************************************************
 | BUTTON
 |*******************************************************************************************
*/

.btn {background:#0636a9; border:2px solid #0636a9; padding:11px 30px 10px; font-size:16px; color:#fff; transition:all ease .4s;  text-transform:uppercase; min-width:200px;line-height:1.2;}
.btn.focus, .btn:focus {outline: 0;box-shadow:none;}
.btn svg { fill:#fff;}
.btn:hover { background:#b4cd3a; color:#fff;border:2px solid #b4cd3a;  }
.btn:hover svg { fill:#fff;}
.btn-secondary { background-color:#9ac249;border:2px solid #9ac249;color:#fff;}

.btn-icon svg,.btn-icon img {fill:#fff; width:18px; height:18px; transition:all ease .4s;}
.btn-icon span { display:flex; align-items:center; justify-content:center;}
.btn-icon font + svg,.btn-icon font + img { margin-left:10px;}
.btn-icon svg + font,.btn-icon img + font { margin-left:10px;}
.btn-lg { font-size:18px; padding:16px 40px 15px; min-width:200; }
.btn-sm { font-size:12px; padding:6px 20px 5px;min-width:0; }
.btn-blue { background-color:#30ffdc;border:2px solid #30ffdc;}
.btn-gray { background-color:#eaeaea;border:2px solid #eaeaea;}
.btn-outline { background-color:#fff; border:2px solid #0636a9; color:#0636a9;}
.btn-outline svg { fill:#0636a9;}
.btn-text { padding:0px!important; color:#fff; background:none; border:none; min-width:1px!important; text-decoration:underline;}
.btn-text svg { fill:#0636a9;}
.btn-text:hover { background:none; border:none;}
.btn-text:hover svg { fill:#0636a9;}
.btn-250 { min-width:250px;}
.btn.disabled { background-color:#eee; border:2px solid #eee;color:#000; }
.btn.disabled:hover { color:#000; }

.btn-hoverbgoverlay { position:relative;}
.btn-hoverbgoverlay:before { content:"";position: absolute;top: 50%;height: 0px;width: calc(100% + 30px);left: -15px;transform: translateY(-50%);background-color: rgba(252,213,4,0.3);transition: all ease .4s; margin-top:-1px; opacity:0;}
.btn-hoverbgoverlay:hover:before { height:200%; opacity:1;}

.btn-text.btn-icon { text-decoration:none;}
.btn-text.btn-inverse { color:#363636;}
.btn-text.btn-text-yellow { color:#0636a9;}

.btn-tag { font-size:14px; padding:5px 20px; min-width:0;  background-color:#fff; border:2px solid #0636a9; color:#0636a9; }
.btn-tag svg { width:26px; height:24px; fill:#7db4e3;}

.btn-cate {background-color:#9ac5ee; border:2px solid #9ac5ee;}

.btn-skew { background:none; border:none; position:relative;}
.btn-skew span { position:relative; z-index:1;}
.btn-skew:before { position:absolute; content:""; width:100%; height:100%; top:0px; left:0px; background-color:#0636a9; transform:skewX(-30deg);}
.btn-skew:after { position:absolute; content:""; width:8px; height:100%; top:0px; right:-1px; background-color:#9bc746; transform:skewX(-30deg);}
.btn-skew:hover{ border:none; background:none; }
.btn-skew:hover:after {animation-name:button;animation-duration: 500ms;animation-iteration-count: 1;animation-timing-function: linear;}

@keyframes button {
  0%   { width:0px}
  50% { width:100%;}
  100% { width:0px; right:auto; left:0px;}
}



/*
 |*******************************************************************************************
 | TITLE
 |*******************************************************************************************
*/

.box-title { float:left; width:100%; padding-bottom:40px; text-align:left; position:relative; font-size:16px; color:#333;}
.box-title h1 { font-size:36px; line-height:1.3; z-index:1;}
.box-title h2 { font-size:32px; line-height:1.3;}
.box-title h3 { font-size:28px; line-height:1.2;}
.box-title h4 { font-size:24px; line-height:1.2;}
.box-title h5 { font-size:20px; line-height:1.2;}
.box-title h6 { font-size:16px; line-height:1.2;}
.box-title h1,.box-title h2,.box-title h3,.box-title h4,.box-title h5,.box-title h6 { color:#0636a9;float:left; width:100%; text-transform:uppercase; position:relative;z-index:1;}
.box-title h1 span,.box-title h2 span,.box-title h3 span,.box-title h4 span,.box-title h5 span,.box-title h6 span,.box-title p span { color:#63be3a; }
.box-title p { float:left; width:100%; margin-top:10px;}
.title-visual { position:relative; margin-top:0px; margin-bottom:-40px; font-size:130px; text-transform:uppercase;font-family:'db_helvethaica_x_blk_ext';line-height: 0.7; width:100%;background: rgb(255,255,255); color:#fff; background: -webkit-linear-gradient( rgba(203,224,241,1) 0%, rgba(255,255,255,1) 70%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.title-cate { font-size:12px; color:#999; z-index:1; position:relative; margin-bottom:5px; text-transform:uppercase;}
.title-button { position:absolute; right:0px; top:2px;}
/*
 |*******************************************************************************************
 | BREADCRUMB
 |*******************************************************************************************
*/

.box-breadcrumb {float:left; width:100%; }
.box-breadcrumb nav { }
.breadcrumb { margin-bottom:0px; background-color:transparent;display: flex; white-space: nowrap; width:max-content; }
.breadcrumb-item,
.breadcrumb-item a { color:#666666; font-size:12px; text-transform:capitalize;}
.breadcrumb-item a:hover { color:#0636a9;}
.breadcrumb-item+.breadcrumb-item::before { content:">";color:#999999;}
.breadcrumb-item.active { color:#0636a9; float:left; display: flex; white-space: nowrap; padding-right:15px; }

.breadcrumb-abs { position:absolute; left:0px; top: 100px; width:100%; z-index:2;}
/*
 |*******************************************************************************************
 | PAGINATION
 |*******************************************************************************************
*/
.box-pagination { float:left; width:100%;}
.page-link {background-color: transparent; border:none; color:#363636;}
.page-link svg { width:16px; height:16px; display:inline-block; fill:#0636a9; float:left; margin-top:2px;}
.page-link:hover { background-color:transparent; border:none; color:#000;}
.page-link:focus { box-shadow:none;}
.page-item.disabled .page-link { background-color:transparent; border:none;}
.page-item.disabled .page-link svg { opacity:0.3}
.page-item.active .page-link { color:#0636a9; text-decoration:underline; background-color:transparent; border:none;}
/*
 |*******************************************************************************************
 | SLIDE
 |*******************************************************************************************
*/
.swiper-button { background:none; width:18px; display:flex; align-items:center; justify-content:center; transform:translateY(-50%);margin-top:0px;} 
.swiper-button img,.swiper-button svg { fill:#0636a9; width:100%; margin-top:0px;}
.swiper-button:hover { background:none;}
.swiper-button-next { right: 0px;}
.swiper-button-prev { left:0px; }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { display:none;}

.swiper-pagination { padding:0 20px;}
.swiper-pagination-bullet { width:8px; border-radius:100%; height:8px;margin: 0 5px; background-color:rgba(255,255,255,0.7); opacity:1;}
.swiper-pagination-bullet-active { background-color:transparent; box-shadow: 0 0 0 3px #fff;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 8px;}
/*
 |*******************************************************************************************
 | SELECT
 |*******************************************************************************************
*/

/*.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width:auto; min-width:60px;}
.bootstrap-select > .dropdown-toggle { border-radius:5px; padding:3px 10px;border:2px solid #fff; font-size:11px; color:#5f5f5f; padding:3px 10px 1px; background:#fff;}
.dropdown-toggle::after {content:""; top:50%; transform:translateY(-50%); width: 0;height: 0;border-style: solid;border-width:4px 4px 0 4px;border-color: #948388 transparent transparent transparent; margin:0px; vertical-align:0;}
.dropdown-menu { padding:0px; margin:0px; font-size:14px; width:100%;}
.dropdown-item { padding:7px 10px 3px; color:#5f5f5f!important;}
.dropdown-item.active, .dropdown-item:active { background-color:#0636a9; color:#fff!important;}
.bootstrap-select .dropdown-toggle:focus { outline:0!important; box-shadow:none;}*/
/*
 |*******************************************************************************************
 | ACCORDION
 |*******************************************************************************************
*/
.accordion .card { border:none; background-color:#fff; box-shadow:0 0 10px 0 rgba(0,0,0,0.1); border-radius:0px; margin-bottom:8px;}
.accordion .card-header { padding:0px; background-color:#fff; border-bottom:0px;}
.accordion .card-title { margin-bottom:0px; padding:20px 60px 20px 30px; font-size:20px; position:relative; cursor:pointer; color:#70605f; } 
.accordion .card-title:before { position:absolute; content:""; left:30px; bottom:0px; width:calc(100% - 60px); background-color:#eee; height:1px;}
.accordion .accordion-bullet { position:absolute; top:26px; left:auto; right:30px; width:16px; height:16px; transform:rotate(90deg);}
.accordion .accordion-bullet svg { fill:#0636a9;}
.accordion .card-body { padding: 30px; float:left;}

.accordion .card-title.collapsed:before { display:none;}
.accordion .collapsed .accordion-bullet { transform:rotate(-90deg); top:26px; right:35px; }
.accordion .collapsed .accordion-bullet:after { display:block;}

/*
 |*******************************************************************************************
 | SCROOL BAR
 |*******************************************************************************************
*/
.mCSB_scrollTools { width:3px;}
.mCSB_scrollTools .mCSB_draggerContainer { background-color:#b3b3b3;}
.mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width:3px;}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color:#0636a9;}
.mCSB_scrollTools .mCSB_draggerRail { width:3px;}

/*
 |*******************************************************************************************
 | VIDEO
 |*******************************************************************************************
*/

.video-container {	display:inline-block;cursor:pointer;	margin:auto;	 position: relative; width:100%; float:left;}
.video-space { float:left; width:100%; position:relative; transition:all .5s ease;z-index:1;}
.video-space img { float:left; width:100%;}
.video-button { position:absolute; transition:all .5s ease; z-index:2;}
.video-put { position:absolute; top:0px; left:0px; width:100%; height:100%;z-index:3; cursor:pointer;}
.video-put .player { position:absolute; top:0px; left:0px; width:100%; height:100%;}
.video-text { text-transform:uppercase; font-size:16px; font-weight:300; color:#fff; text-align:left; margin-top:10px; }

.inactive-state {background-repeat: no-repeat;background-size: 100%;}
.inactive-state:hover .video-button { }

/*
 |*******************************************************************************************
 | POPUP
 |*******************************************************************************************
*/
.section-popup { position:fixed; width:100%; height:100%; top:0px; left:0px; color:#0636a9; text-align:center; display:none; z-index:20;}
.popup-bg { position:absolute; top:0px; left:0px; width:100%; height:100%;  background-color:rgba(0,0,0,0.6);}
.popup-container { width:800px; height:auto; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background-color:#fff;  border-radius:0px; overflow:hidden; /*padding-top:30px; padding-right: 30px; padding-bottom:30px; padding-left:30px;*/ }
.popup-close { position:absolute; right:30px; top:25px; width:40px; height:40px; cursor:pointer; z-index:10;  display:flex; align-items:center; justify-content:center; border-radius:100%;}
.popup-close svg { fill:#0636a9; width:100%; height:100%; transition:all .4s ease;}
.popup-close:hover svg { transform:rotate(180deg);}
.box-popup { text-align:left; float:left; width:100%;}
.box-popup img { float:left;}

.popup-video .popup-container { width:960px; height:auto;top:50%; left:50%; margin-left:-480px; transform:translateY(-50%); -webkit-transform:translateY(-50%); display:flex; align-items:center; justify-content:center; padding:0px; background-color:#0636a9;}
.popup-video .popup-container .box-popup { width:100%; height:100%;}
.popup-video .video-container { height:100%;}

.popup-alert .popup-container { width:550px; height:auto; margin-left:-275px; left:50%; padding:0px; padding:50px 40px;}
.popup-body { float:left; width:100%;}
.popup-head  { float:left; width:100%; min-height:60px; text-transform:uppercase;}
.popup-head h2 { margin-bottom:20px;font-size:40px;color:#0636a9;line-height: 1;}
.popup-button { float:left; width:100%; padding-top:30px; text-align:center;}

/*
 |*******************************************************************************************
 | FORM
 |*******************************************************************************************
*/
.form-list { margin-bottom:20px;}
.input-list {position: relative;	z-index: 1;	display: inline-block;	width: calc(100% - 0em);	vertical-align: top; font-weight:200;}
.input__field {	position:relative;display: block;float: right;padding: 0.8em;width: 60%;	border: none;border-radius: 0;background:#f0f0f0;color: #aaa;-webkit-appearance: none;}
.input__field:focus {outline: none;}
.input__label {	display: inline-block;float: right;padding: 0 1em;width: 40%;color: #999;font-size: 70.25%;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-touch-callout: none;	-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;	user-select: none;}
.input__label-content {	position: relative;	display: block;	padding: 1.6em 0;width: 100%;}
.graphic {position: absolute;top: 3px;	left: 0;	fill: none;}
.icon {	color: #ddd;	font-size: 150%;}
/* Nao */
.input--nao {overflow: hidden;padding-top: 1em;}
.input__field--nao {padding: 0.5em 0em 0.25em;width: 100%;background: transparent;color: #9da8b2;font-size: 1.25em;}
.input__label--nao {position: absolute;top: 0.95em;font-size: 0.85em;left: 0;display: block;width: 100%;text-align: left;padding: 0em;pointer-events: none;-webkit-transform-origin: 0 0;	transform-origin: 0 0;-webkit-transition: all 0.2s 0.15s, color 1s;transition: all 0.2s 0.15s, color 1s;	-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.graphic--nao {	stroke: #ccc;	pointer-events: none;-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;transition: transform 0.7s, stroke 0.7s;-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);} 
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {	color: #333;	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {	stroke: #333;-webkit-transform: translate3d(-66.6%, 0, 0);transform: translate3d(-66.6%, 0, 0);}


.input__field--nao:focus + .input__label--nao, .input--filled .input__label--nao { transform: translate3d(0, -20px, 0) scale3d(1, 1, 1); font-size:0.9em; color:#aaa;}
.input__label--nao { font-size:16px; top:0em;}
.input__field--nao { color: #131415; font-weight:200; font-size:16px; padding:10px 0 6px;}

textarea.form-control { border:none; border-bottom:1px solid #ccc; resize:none; border-radius:0px; padding:0px; color:#aaa;}

.select-default { width:100%!important; }
.select-default.bootstrap-select { border-radius:0; border:none;}
.select-default.bootstrap-select > .dropdown-toggle { border:none; padding:5px 0; font-size:14px;color:#131415!important; border-bottom:1px solid #131415; border-radius:0; font-weight:200;background-color: transparent; letter-spacing:1px; text-transform:none; font-size:17px;}
.select-default.show>.btn-light.dropdown-toggle { background:none; border:none;border-bottom:1px solid #92989e;}
.select-default .btn-light:not(:disabled):not(.disabled).active, .select-default .btn-light:not(:disabled):not(.disabled):active, .select-default .show>.btn-light.dropdown-toggle { background:none; border:none;border-bottom:1px solid #92989e; letter-spacing:1px; text-transform:none;}
/*
 |*******************************************************************************************
 | CONTENT
 |*******************************************************************************************
*/
.box-content  { float:left; width:100%; font-size:14px; color:#222; line-height:1.5; position:relative;  }
.box-content h1	{ font-size:24px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h2	{ font-size:22px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h3	{ font-size:20px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h4	{ font-size:18px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h5	{ font-size:16px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h6	{ font-size:14px; margin-bottom:10px; color:#0636a9; margin-bottom:20px;}
.box-content h1 ,.box-content h2 ,.box-content h3 ,.box-content h4 ,.box-content h5 ,.box-content h6  { color:#0636a9;}
.box-content h1 span,.box-content h2 span,.box-content h3 span,.box-content h4 span,.box-content h5 span,.box-content h6 span { color:#9bc746;}
.box-content p { margin-bottom:20px;}
.box-content a:not([class*=btn]) { color:#0636a9; text-decoration:underline;}
.box-content a.btn {}
.box-content a:not([class*=btn]):hover { text-decoration:underline;}
.box-content iframe	{ margin-bottom:15px; border:none; display:block;max-width: 100%;}
.box-content p img {  margin-bottom:0px;}
.box-content p span { color:#0636a9;}
.box-content img { max-width:100%; margin-bottom:20px;}
.box-content ol	{ display:block; list-style:decimal outside; margin-bottom:20px; padding-left:20px; }
.box-content ul	{ display:block; list-style:none outside ;margin-left:0px; margin-bottom:20px; padding-left:20px; position:relative;}
.box-content ul li:before { content:""; position:absolute;left: -17px;top: 6px; width:6px; height:6px; border-radius:100%; background-color:#0636a9;}
.box-content li	{ padding-bottom:3px; position:relative;}
.box-content img {height: auto !important;}
.box-content hr { border-top: 2px solid #0636a9; width:60%; margin-bottom:30px; margin-top:20px;}

.content-quote { position:absolute; left:0px; top:0px; font-size:350px; line-height:0.5; color:#e5ebf5}

.quoteby { padding-left:100px; position:relative; color:#0636a9;}
.quoteby:before { position:absolute; top:9px; left:0px; width:80px; background-color:#0636a9; height:2px; content:"";}
/*
 |*******************************************************************************************
 | THUMB
 |*******************************************************************************************
*/
.thumb { float:left; width:100%; position:relative; margin-bottom:40px; color:#333; line-height:1.6}
.thumb-img {float:left; width:100%; text-align:center; position:relative;transition:all ease .4s; margin-bottom:20px;}
.thumb-img img { float:left; width:100%;  transition:all ease .4s;}
.thumb-img-default { position:relative;}
.thumb-img-hover { position:absolute; top:50%; transform:translateY(-50%); left:0; width:100%; opacity:0;transition:all ease .4s; z-index:1;}
.thumb-img-frame { position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;transition:all ease .4s; background:url(../img/skin/icon-zoom.png) no-repeat center center rgba(0,55,155,0.8); background-size:30px;}
.thumb-img-key { position:absolute; right:0; bottom:0; width:40%; transition:all ease .4s;}

.thumb-icon { position:absolute; bottom:15px; left:50%; width:18px; height:18px;margin-left: -22%;}

.thumb-txt { float:left; width:100%;}
.thumb-txt-h { font-size:20px;text-transform:uppercase; transition:all ease .2s;margin-bottom: 5px; color:#222;}
.thumb-txt-p { font-size:16px;text-transform:uppercase; transition:all ease .2s;}
.thumb-txt-p span {}
.thumb-txt-cate { color:#9b9b9b; font-size:12px; margin-bottom:10px; text-transform:uppercase;}
.thumb:hover img { opacity:1;}
.thumb:hover .thumb-img-hover { opacity:1;}
.thumb:hover .thumb-img-frame { opacity:1;}

.thumb-product { border-radius:10px; overflow:hidden; text-align:center; margin-bottom:10px;}
.thumb-product .thumb-img { text-align:center; display:flex; align-items:flex-end; justify-content:center;}
.thumb-product .thumb-img img { width:100%; position:relative; z-index:2;}
.thumb-product .thumb-txt { margin-bottom:15px; padding:0 20px;}
.thumb-product .thumb-txt-p {}
.thumb-product .thumb-txt-p span { font-size:12px;}
.thumb-product .thumb-img-blank { position:relative; float:left; width:100%;}
.thumb-product .thumb-img-pd { position:absolute; bottom:0px; top:auto; left:0px; width:100%;}

.thumb-news .thumb-img { border-radius:10px; overflow:hidden; margin-bottom:20px; background-color:#d9eeff; box-shadow:5px 5px 0 0 #d9eeff;}
.thumb-news .thumb-txt { padding:0 20px;}
.thumb-news .thumb-txt-d { margin-bottom:5px;}
.thumb-news .thumb-txt-h { color:#222; margin-bottom:10px;}
.thumb-news .thumb-txt-p { color:#555555;}

.thumb-news-in .thumb-img {background-color:#d9eeff; box-shadow:none;}

.thumb-news-hoz  { border-bottom:solid 1px rgba(0,0,0,0.1); padding-bottom:40px;}
.thumb-news-hoz .thumb-img { width:60%; margin-right:30px; background-color:#d9eeff; box-shadow:none;}
.thumb-news-hoz .thumb-txt { width:calc(40% - 30px); margin-top:0px;}

.thumb-news-highlight  { }
.thumb-news-highlight .thumb-img { width:66%; margin-right:30px; background-color:#d9eeff; box-shadow:none;}
.thumb-news-highlight .thumb-txt { width:calc(34% - 30px); margin-top:60px;}

.thumb-highlight { display: flex; align-items: flex-end; margin-bottom:60px;}
.thumb-highlight .thumb-img { width: 60%; margin-bottom:0px;}
.thumb-highlight .thumb-txt { width: 40%; padding:0 60px}
.thumb-highlight .thumb-txt-h { font-size:46px; color:#6196cb;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.thumb-highlight .thumb-txt-d svg { fill:#0636a9;}
.thumb-highlight .thumb-txt-d font { color:#0636a9}
.thumb-highlight .thumb-txt-p { color:#0636a9;-webkit-line-clamp:5;}

.infogroup { margin-bottom:20px;}
.infogroup .infogroup-img { margin-bottom:20px; }
.infogroup .infogroup-txt p { font-size:18px; color:#222;}

.infogroup-hoz { display:block; float:left; width:100%;}
.infogroup-hoz .infogroup-img { width:120px; margin-right:20px;float:left; margin-bottom:0px;}
.infogroup-hoz .infogroup-txt { width:calc(100% - 140px); float:left; padding-top:20px; line-height:1.7}
.infogroup-hoz .infogroup-txt p { font-size:16px;}