/*--- Style sheet custom override ---*/

.dropzone {border: 2px dashed #ebedf2;border-radius: 7px;height: auto;position: relative; padding:120px;}

/*--- FONT ---*/
/* body { font-family: 'Sukhumvit Set','Kanit', sans-serif; } */
.font-weight-bold  { font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600; }
.sidebar { font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600;}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint { font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600;}
.sidebar .nav .nav-item.active > .nav-link .menu-title{ font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600;}
.card .card-title{ font-family: 'Sukhumvit Set','Kanit', sans-serif; font-weight:600;} 
a:focus, input:focus {border-color: #dfe8f2;}
.row { margin-left:-10px; margin-right:-10px; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .lightGallery .image-tile, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { padding-left:10px; padding-right:10px;}

.btn{cursor:pointer}
/*--- MENU ---*/
.nav-group-title {padding: 10px 10px 0 10px;
    box-shadow: 1px 1px 6px #ccc;
    margin: 5px 0;}
.nav-group-title h3 {font-size: 20px;}

.sidebar .nav .nav-item:hover {background: #f3f4f8;}
.sidebar .nav .nav-item.active > .nav-link .menu-title {color: #000;}
.sidebar .nav .nav-item.active > .nav-link i { color: #000;}

.sidebar .nav.sub-menu .nav-item.menu-topic .nav-link { padding-left:0;}
.sidebar .nav.sub-menu .nav-item.menu-nolink .nav-link { color:#aaa;}
.sidebar .nav.sub-menu .nav-item.menu-topic .nav-link:before { display:none;}
.sidebar .nav.sub-menu .nav-item.menu-topic .nav-link { padding-left:0;}

.sidebar .nav.sub-menu .nav-item.menu-sub .nav-link { padding-left:40px;}
.sidebar .nav.sub-menu .nav-item.menu-sub .nav-link:before  { left:1.25rem;}
.sidebar .nav.sub-menu .nav-item .nav-link { white-space:normal; color:#3e4b5b; line-height:1.3; padding:0.25rem 1.25rem 0.25rem 1.25rem}
.sidebar .nav .nav-item .nav-link .menu-title {line-height:1.3;}

.sidebar .nav .nav-item.active { background-color:#f3f4f8;}
.sidebar .nav.sub-menu .nav-item .nav-link.active {color: #ed2530;background: transparent;font-weight: bold;}
.sidebar .nav.sub-menu .nav-item .nav-link.active:before { color:#ed2530;}


.sidebar .nav.sub-menu .nav-item .nav-link:before {content: "\F12F"; margin-top: -1px;}
.sidebar .nav.sub-menu .nav-item .nav-link.active:before {content: "\F133";}
.sidebar .nav.sub-menu .nav-item.menu-nolink .nav-link:before {content: "\F130";font-family: "Material Design Icons";display: block;position: absolute; left: 0px;top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: rgb(192, 192, 192);font-size: .75rem; }
.sidebar .nav.sub-menu .nav-item.menu-sub .nav-link:before {content: "\F054";font-family: "Material Design Icons";display: block;position: absolute; left: 20px;top: 50%;-webkit-transform: translateY(-50%); transform: translateY(-50%); color: #a2a2a2; font-size: .75rem; }
/*--- MAIN ---*/

.content-wrapper,.footer { background-color:#eeeff3;}
.footer { border-top: 1px solid #d8d8dc; padding:1rem 1rem;}

.page-title { font-size:1.5rem}
.page-title .page-title-icon { box-shadow:0 0 8px 0.7px rgba(0,0,0,0.35); box-shadow:none;}

.btn-fw-lg { width:200px; }
.card-button { border:1px dotted rgba(0,0,0,0.1); background-color:#f7f8fc; padding:20px; border-radius:5px;}
.card .card-body { padding:1.25rem;}

.navbar .navbar-menu-wrapper .dropdown .dropdown-toggle:after {color: #3e4b5b;}

.modal-content { background-color:#eeeff3; }
.modal .modal-dialog .modal-content .modal-footer { background-color:#fff; padding:15px;}


div.tagsinput span.tag { background:linear-gradient(89deg, #5e7188, #3e4b5b); position:relative; padding-right:2rem}
div.tagsinput span.tag a { position:absolute; right:5px; top:4px; width:16px; height:16px; background-color:#fff; color:#666; border-radius:100%; display:flex; align-items:center; justify-content:center;}
div.tagsinput input { padding:5px 5px 3px; border-radius:2px;}
/*--- HEAD ---*/
.navbar.default-layout-navbar { box-shadow:0 0 10px 0 rgba(0,0,0,0.05);}


/*--- TABLE ---*/

/*.table-responsive .table { float:left;width: 100%;overflow-x: auto;}*/

.dataTables_wrapper select { padding-right: 2rem;}
.dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .fc button, .fc .dataTables_wrapper .dataTable button, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .dataTables_wrapper .dataTable .wizard > .actions a, .wizard > .actions .dataTables_wrapper .dataTable a { padding : .4rem 1rem; font-size: .8125rem; font-weight:initial; line-height:1; }
table.dataTable { padding:0.5rem 1rem 0; border:1px solid #ebedf2; border-radius:3px; margin-bottom:1rem!important;}
.pagination .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .pagination .page-item:hover .page-link, .jsgrid .jsgrid-pager .page-item:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .pagination .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .pagination .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a { background-color:#3e4b5b;border-color:#3e4b5b; }

/*--- DROPIFY ---*/
.dropify-wrapper .dropify-preview .dropify-render img { opacity:1;}
/*--- FORM ---*/
.input-group-append .input-group-text, .input-group-prepend .input-group-text { padding:0rem 0.75rem}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint { height:calc(2.25rem + 6px)}

.form-check { margin-top:0px;}
.box-radio .form-check { margin-top:10px;}
.box-radio .form-check .form-check-label  { padding-top: 1px;}

.form-check-image.form-check {width:100%!important; float:left;}
.form-check-image .form-check-label { text-align:left; margin-bottom:0px; padding:10px; background-color:#eeeff3; width:100%!important; float:left; border-radius:5px;}
.form-check-image .form-check-label img { margin-right:10px; float:left; border:1px solid #fff;}

.form-group:last-child { margin-bottom: 0px; }

.card-image { float:left; width:100%; padding: 10px;}
.card-image-choose { padding:10px 10px; margin:10px 10px 0px 10px; background-color:#eeeff3; border-radius:5px; position:relative; display: flex;}
.card-image-choose .card-image-choose-img {  display:inline-block;}
.card-image-choose .card-image-choose-img img { border:1px solid #fff; }
.card-image-choose .card-image-choose-txt {width:calc(100% - 40px); margin-left:10px;font-size: 0.875rem;line-height: 1.5; display:inline-block;}
.card-image-choose .card-image-choose-icon { position:absolute; top:11x; right:15px; width:17px; height:17px; opacity:0; transition:all ease .2s;} 
.card-image-choose:hover .card-image-choose-icon { opacity:1; cursor:move;}
.card-image-choose:hover .card-image-choose-icon { cursor:pointer;}
.card-image-choose:hover { cursor:move;}

/*--- SELECT ---*/
select.form-control { color:#495057;}
select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint { border:1px solid #ebedf2; outline:0;}

.select2-container .select2-selection--single .select2-selection__rendered { padding-left:0px; padding-right:0px;}
.select2-container--default .select2-selection--single .select2-selection__arrow { height:100%; width:30px;}
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color:#505561;}
.select2-container--default .select2-selection--single {height: calc(2.5rem + 2px);padding: 0.85rem .75rem;}

/*--- TAB ---*/
.tab-content { padding:1rem 1rem; background-color: #fff;}
.table_accordion_content { }
.nav-tabs { text-transform:capitalize; font-weight:600;}
.nav-tabs .nav-link {    padding: .5rem 1.5rem;}

.only-one-lang > ul.nav-tabs { display:none;}
.only-one-lang > .tab-content { padding:0px; border:none;}


/*--- SITE BY SITE ---*/
.gallery-dropzone { position:relative;}
.select-gall-cate { position: absolute;width: 100%;left: 50%;margin-left: -50%;top: -50px;  }
.block_upload { position:absolute; top:0; left:0px; width:100%; height:100%;     background: linear-gradient(89deg, #5e7188, #3e4b5b);z-index:1; display:flex; align-items:center; justify-content:center;border: none;border-radius: 7px; color:#fff;}


/*--- SKIN ---*/


.loader{position: fixed;width: 100%;height: 100%;z-index: 100;background-color: rgba(255,255,255,0.5);display: none;}
.square-path-loader { top:30%;}
.page-header { margin: 0 0 1.1rem 0;padding: 20px;background-color: #fff;border-radius: 6px;}
.page-title {font-size: 1.1rem;}

div.tagsinput {padding: 6px 15px 0px;border-color: #ebedf2;}

.b-r-tl{border-top-left-radius: 0;}
.box-cate {
  border: 1px dotted rgba(0,0,0,0.1);
  width: 100%;
  background-color: #eeeff3;
  padding: 10px;
  border-radius: 5px;
  height: 200px;
  overflow: scroll;
}
.box-cate-wrap {
  border: 1px dotted rgba(0,0,0,0.1);
  width: 100%;
  background-color: #fff;
  padding-left: 15px;
  border-radius: 5px;
  height: 100%;
  overflow: scroll;
  margin-bottom: 0;
}
.box-level-1 {
    padding-left: 30px;
}
.box-level-2 {
    padding-left: 30px;
}
.box-cate .form-check {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
}
.button-center {
    text-align: center;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    border: solid 1px #ccc;
}
.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
  background: -webkit-gradient(linear, left top, right top, from(#555), to(#555));
  background: linear-gradient(to right, #555, #555);
}
.layer_content{display: block;}

.top-right-switch { position: absolute; right: 41px; top: 17px;}
.box-switch > .card-title { width: calc(100% - 100px); margin-bottom: 0; }
.box-switch .button-switch { position: absolute;right: 20px;top: 17px;}
.box-switch .content-switch { margin-top: .75rem; padding-top: .75rem;}
.box-check-page-type {
    border: 1px dotted rgba(0,0,0,0.1);
    width: 100%;
    background-color: #eeeff3;
    padding: 10px;
    border-radius: 5px;
    height: 320px;
    overflow: scroll;
}
.box-check-white{
  padding: 5px 10px;
background-color: #fff;
border-radius: 6px;
margin-bottom: 5px;
}
.box-check-white-bd{
  padding: 5px 10px;
background-color: #fff;
border-radius: 6px;
margin-bottom: 5px;
border:1px solid #E0E1E7;
}
.box-check-gray{
  padding: 5px 10px;
background-color: #eeeff3;
border-radius: 6px;
margin-bottom: 5px;
}
p.note-under-checkbox {
    font-size: 11px;
    color: #ccc;
    position: absolute;
    left: 29px;
    top: 18px;
}

.box-gray{ background-color: #eeeff3; padding: 10px; border-radius: 6px;}
.box-white{ background-color: #fff; padding: 20px; border-radius: 6px; }
.box-h-280{ min-height: 280px; }

.img-preview {
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.img-preview:hover > .img-icon-group {
    display: block;
}
.img-preview img {
    max-height: 100%;
    max-width : 100%;
    margin: auto;
}
.img-icon-group {
  display: none;
  cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    color: #ccc;
    font-size: 40px;
    transform: translate(-50% , -50%);
}

/* Drag Item */

.drag-wrapper .drag-column{ cursor: move;}
.drag-wrapper .drag-column {position: relative;margin-bottom: 15px;}
.drag-wrapper .drag-column:before {content: ""; position: absolute;top: 0;left: 15px;width: calc(100% - 30px);height: 100%;border: 1px dotted rgba(0,0,0,0.1);background-color: #f7f8fc;z-index: 0;border-radius: 5px;}
.drag-wrapper  { float:left; width:100%;border: 1px dotted rgba(0,0,0,0.1);width: 100%;background-color: #eeeff3;padding:20px;border-radius: 5px;}
.drag-wrapper .close-nexu svg { fill:#d43840;}


.drag-section-wrapper .drag-column{ cursor: move;}
.drag-section-wrapper .drag-column {position: relative;margin-bottom: 5px;}
.drag-section-wrapper .lists-box{border:2px solid #eeeff3;cursor: move;}
.drag-section-wrapper .drag-column:before {content: ""; position: absolute;top: 0;left: 15px;width: calc(100% - 30px);height: 100%;border: 1px dotted rgba(0,0,0,0.1);background-color: #f7f8fc;z-index: 0;border-radius: 5px;}
.drag-section-wrapper  { float:left; width:100%;border: 1px dotted rgba(0,0,0,0.1);width: 100%;border:2px solid #eeeff3;border-radius: 10px 10px 0px 0px;}
.drag-section-wrapper .close-nexu svg { fill:#d43840;}
.drag-section-wrapper .hearder-table{background-color: #A8B1BC; color: #fff;padding:20px ; border-radius: 10px 10px 0px 0px; font-weight: bold;}
.non-active > a { opacity: 0.4; }
.drag-list a.btn {padding: .4rem 1rem;font-size: .8125rem;font-weight: initial;line-height: 1;}
.drag-box {float: left; width:100%;color: #333; line-height:1.5;}
.drag-box ul {margin: 0;padding: 0;list-style: none;}
.drag-box ul.drag-item-list a{ color: #333;}
.drag-box ul.drag-item-list li { position:relative;display: inline-block;margin-bottom: 5px;border-radius: 5px;border: 1px solid #ebedf2; background: #fff;float:left; width:100%;}
.drag-box ul.drag-item-list > li a {display: block;text-transform: uppercase;text-decoration: none;padding: 0.7rem .5rem 0.5rem 1rem; cursor:default}
.drag-box ul.drag-item-list > li a:hover {/*cursor: move;*/}
/*.drag-box ul.drag-item-list > li a br { display:none;}*/
.drag-box ul.drag-item-list ul { float:left; width:100%; padding-left: 15px;padding-right: 15px; padding-bottom:10px;}
.drag-box li.drag-highlight { border: 1px dashed #ccc !important;background: #f5f5f5;}
.drag-box li:hover .nexu-tools { display:block;}
.nexu-tools { position:absolute;top: 10px;right: 2px; display:none; cursor:pointer;}
.nexu-tools > div  {list-style:none; float:left;}
.nexu-tools .nexu-tools-list { float:left; list-style:none; padding:0 8px; position:relative;top: -5px;}
.nexu-tools .nexu-tools-list:before { content:""; position:absolute; right:0px; top:9px; height:50%; width:1px; background-color:rgba(0,0,0,0.1)}
.nexu-tools .nexu-tools-list a { float:left;font-size: 20px;color: #999!important; padding:0px!important;cursor:pointer!important;}
.nexu-tools .nexu-tools-list a svg,.nexitor-tools li a img { float:left; width:15px;}
.nexu-tools .nexu-tools-list:last-child:before  { display:none;}
.nexu-tools .nexu-tools-list.drag-cusor a{ cursor: move!important;}
.close-nexu svg { fill:#d43840;}

 .drag-section {float: left; width:100%;color: #333; line-height:1.5;}
.drag-section ul {margin: 0;padding: 0;list-style: none; min-height: 50px;}
/* .drag-section ul.drag-item-list > li a {display: block;text-transform: uppercase;text-decoration: none;} */
.drag-section ul.drag-item-list > li a:hover {cursor: pointer;}
/* .drag-section ul.drag-item-list ul { float:left; width:100%; padding-left: 15px;padding-right: 15px; padding-bottom:10px;} */
/* .drag-section li.drag-highlight { border: 1px dashed #ccc !important;background: #f5f5f5;} */
/* .drag-section li:hover .nexu-tools { display:block;} */
/* .drag-section ul .drag-item-list li{ position:relative;display: inline-block;margin-bottom: 5px;border-radius: 5px;border: 1px solid #ebedf2; background: #fff;float:left; width:100%;}  */

/* radio style */
ul.alignment-menu { margin: 0;padding: 0;list-style: none;}
.alignment-menu {display: inline-flex;  border-radius: 5px;background-color: #E0E1E7; border: 2px solid #E0E1E7;}
.alignment-menu-item label { width: 60px;display: inline-block; padding:10px; align-items: center; align-content: center; display: flex; background-color: #fff; border-radius: 5px;transition: all 0.1s ease; margin:3px 1.5px 3px 3px;color:#3E4B5B;cursor:pointer; }
.alignment-menu-item label:hover{ background: rgb(94,113,136);background: linear-gradient(90deg, rgba(94,113,136,1) 0%, rgba(62,75,91,1) 100%);color:#fff;}
.alignment-menu-item svg {fill: #3E4B5B;}
.alignment-menu-item svg:hover,.alignment-menu-item svg:focus {fill: #fff;}
.alignment-menu-item svg:checked {fill: #fff;}
.alignment-menu-item label:focus{background-color: #3E4B5B;color:#fff;}
.alignment-menu-item label:active {background-color: #3E4B5B;color:#fff;transition: border-color 0.1s ease, background-color 0s;}
.alignment-menu-item input {border: 0; clip: rect(0, 0, 0, 0); height: 1px; overflow: hidden;padding: 0;position: absolute !important;white-space: nowrap; width: 1px;}
.alignment-menu-item input[type=radio] {border: 0; clip: rect(0, 0, 0, 0); height: 1px;overflow: hidden; padding: 0; position: absolute !important;white-space: nowrap;width: 1px;}
.alignment-menu-item input[type=radio]:checked +  label  {background: rgb(94,113,136);background: linear-gradient(90deg, rgba(94,113,136,1) 0%, rgba(62,75,91,1) 100%);;color:#fff; }
.alignment-menu-item input[type=radio]:checked +  label svg {fill: #fff; }
.alignment-menu-item label span {padding-left:10px}

.box-align-position{margin: 20px 0 ; }
.box-align-position label{padding-right:20px}
ul.alignment-position { margin: 0;padding: 0;list-style: none;}
.alignment-position{display: inline-flex;  border-radius: 5px;background-color: #E0E1E7; border: 2px solid #E0E1E7;}
.alignment-position.sm-width label { width: 60px;}
.alignment-position.fit-width label{width: fit-content;}
.alignment-position-item label { margin: 10px 0; width: 180px; display: inline-block; padding: 10px; align-items: center; align-content: center; display: flex; background-color: #fff;border: 2px solid transparent; border-radius: 5px;transition: all 0.1s ease; margin:3px;color:#3E4B5B;cursor:pointer; }
.alignment-position-item label
.alignment-position-item label:hover{ background-color: #3E4B5B;color:#fff;}
.alignment-position-item svg {fill: #3E4B5B; height: 30px; }
/* .alignment-position-item svg:hover,.alignment-position-item svg:focus {fill: #fff;} */
.alignment-position-item svg:checked {fill: #fff;}
.alignment-position-item label:focus{background-color: #3E4B5B;color:#fff;}
.alignment-position-item label:active {background-color: #3E4B5B;color:#fff;transition: border-color 0.1s ease, background-color 0s;}
.alignment-position-item input {border: 0; clip: rect(0, 0, 0, 0); height: 1px; overflow: hidden;padding: 0;position: absolute !important;white-space: nowrap; width: 1px;}
.alignment-position-item input[type=radio] {border: 0; clip: rect(0, 0, 0, 0); height: 1px;overflow: hidden; padding: 0; position: absolute !important;white-space: nowrap;width: 1px;}
.alignment-position-item input[type=radio]:checked +  label  {background-color: #3E4B5B;color:#fff; }
.alignment-position-item input[type=radio]:checked +  label svg {fill: #fff; }
.alignment-position-item label span {padding-left:10px}

.content-outline{border:1px solid #EEEFF3; border-radius:10px; padding:20px; }

.banner .alignment-menu-item label,
.listing .alignment-menu-item label { height:36px; width:133px ;justify-content: center; }






/* /////////////// Modal Background Setting ////////////// */
.card_header {border-radius: 6px;display: flex;justify-content: space-between; align-items: center; padding: 10px 0; }
.bgSetting .modal-dialog {max-width: 780px; margin: 30px auto;}
.bgSetting .modal-header .close {padding: 1rem 1rem; margin: 0;}
.card_header h4.card-title{margin: 0;}
/* .box-setting {margin: 10px; background-color: #ffffff; padding: 10px;border-radius: 6px;border: 1px solid #eeeff3;} */
/*.border-box-setting { background-color: #ffffff; padding: 10px;border-radius: 6px; border: 1px solid #eeeff3;}*/
.card_header a svg {width: 20px;}
.modal-body.bgSetting-body { background-color: #fff;margin: 0 20px 20px 20px;border-radius: 6px;}
.bgSetting .modal .modal-dialog .modal-content .modal-body{padding: 0;}
.asColorPicker-buttons {margin: 9px 0 0 -23px;}
.asColorPicker-buttons a{color: red; text-decoration: none;}
input.asColorPicker-hex {margin: 10px 0 0 0;}
a.asColorPicker-clear {margin: 12px 0; text-decoration: none; font-size: 14px;}
.asColorPicker-clear:after {content: "Clear";}
.asColorPicker-palettes li {width: 20px;height: 15px; margin-right:0;  margin-bottom: 10px;}



/* //////// ROW SECTION LISTS */


/* .row-area{width: 100%;background-color: #EEEFF3;border-radius: 5px;} */
.row-panel{background-color: #EEEFF3; width: 100%; padding-top: 40px;padding: 1rem 1rem 1rem;border-radius: 5px;}
.row-list{background-color: #fff; padding: 10px 20px;border-radius: 5px;position: relative;margin-top: 50px;}
.row-control ul.control-list {position: absolute;top: -40px;right: 0px;border-radius: 5px 5px 0 0;padding: 8px 5px;background-color: #fff;}
.row-control ul.control-list  {list-style: none;float: left;padding-left: 0px;}
.control-list li {float: left;list-style: none;padding: 0 12px;}
ul.row-move { padding-left: 0; }
ul.row-move.ui-sortable {margin-bottom: 0px;}
.col-panel {border: 2px dashed #EEEFF3;border-radius: 5px;}
.col-list{padding: 20px}
.drag-row{list-style: none;position: relative;}
.drag-col ul.col-move {position: absolute;top: -40px;right: 0px;border-radius: 5px 5px 0 0;padding: 8px 5px;background-color: #fff;}
.drag-col ul.col-move  {list-style: none;float: left;padding-left: 0px;}
.col-move li {float: left;list-style: none;padding: 0 12px;position: relative;}
.col-header{background-color: #EEEFF3;padding: 20px;border-radius: 5px 5px 0 0; }
.col-content{background-color: #EEEFF3;border-radius: 5px;border:0.5px solid #EEEFF3;float: left; padding: 10px ;}
.drag-section{cursor:move; border: 1px solid #EEEFF3;}
.col-content .drag-list{cursor:move; border: 1px solid #EEEFF3;background-color: #fff;}
.toggle-group label{margin: 0;}
.row-move li.row-highlight { border: 1px dashed #fff !important;list-style: none;height: 100px; margin: 50px 0;}
.section-highlight { border: 1px dashed #fff !important;list-style: none;height: 50px; margin: 50px 0;}

.control-list li{cursor: pointer;}
li.icon-move{cursor: move !important;}
.swal-footer {
  text-align: center;
}

.section-seperate {
  padding: .7em 2.25rem;
  font-weight: bold;
  font-size: 1.2em;
  border-top: #F1EFF4 2px solid;
  border-bottom: #F1EFF4 2px solid;
  }
  
  /* /////////////// Section listing ////////////// */
  .image-box .fa-info-circle {
    cursor: pointer;
  }
  



  .accordion .card .card-header{padding: 1rem;}
  .page-position-management {padding: 30px 50px 0;border: 1px dotted rgba(0,0,0,0.1);width: 100%;background-color: #eeeff3;padding: 1.25rem 1.25rem;border-radius: 5px;margin-bottom: 1.5rem;float: left;}
  .accordion .card .card-header a{font-size: 12px}
  .accordion .card .card-header a[aria-expanded="true"] { color: #ff301c;}
  .card-body.stat{padding: 0;}
  .accordion .card .card-body{float: left;    padding: 1rem;}
  .accordion .card .card-header *{font-weight: normal;}
  .accordion .card .card-header a:before{font-size: 14px;}

  .role-cate-list {
    background-color: #eee;
    border-radius: 3px;
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
    position: relative;
}
.role-cate-remove {
    position: absolute;
    right: 10px;
    color: red;
    top: 13px;
    display: none;
}
.role-cate-list:hover > .role-cate-remove{
  display: block;
}


  
  .tab-content-lang {
    padding: 0 ;
    border: 0;
  }

.package-data #accordion-5  .card .card-header {padding: 20px;background: #E0E1E7;color: #000;}

.package-data #accordion-5 .card .card-header a[aria-expanded="true"],
.package-data #accordion-5 .card .card-header a[aria-expanded="false"] {background: #fff;border: 1px solid #000;padding: 6px 15px;border-radius: 15px;color: #000;margin: 0 8px;height: 30px;}

.package-data #accordion-5 .card .card-header a[aria-expanded="true"]:before {
    font-size: 12.8px;
    content: "Edit content \F143";
    color: #000;
    display: contents;
}

.package-data #accordion-5 .card .card-header a[aria-expanded="false"]:before {
    font-size: 12.8px;
    content: "Edit content \F140";
    display: contents;
}

.package-data #accordion-5 .card .card-header .btn-delete {
    background: #fff;
    border: 1px solid #000;
    padding: 6px 15px;
    border-radius: 15px;
    color: #000;
    margin: 0 8px;
    height: 30px;
}

.package-data #accordion-5 .card .card-header * {
    border-radius: 15px;
}

/* .package-data #accordion-5 .card .card-header .button-switch .btn {
    padding: 6px 12px;
    font-size: 12.8px !important;;
    height: 30px !important;
} */

.package-data .form-check .form-check-label {
    line-height: 18px;
}

.card-group-inner {
  border: 1px dotted rgba(0,0,0,0.1);
  width: 100%;
  background-color: #eeeff3;
  padding: 1.25rem 1.25rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}



/* SME PACK */

.box-feature { float: left; width: 100%;}
.package-data {width: 100%;float: left;}
.form-check-dark.form-check label input[type="checkbox"] + .input-helper:before, .form-check-dark.form-check label input[type="radio"] + .input-helper:before{border-color: #E0E1E7; border-width: 2px;}
.form-check-dark.form-check label input[type="checkbox"]:checked + .input-helper:before, .form-check-dark.form-check label input[type="radio"]:checked + .input-helper:before{  border-width: 2px;  border-color: #E0E1E7;}
.form-check .form-check-label input[type="radio"] + .input-helper:after{background: linear-gradient(89deg, #5e7188, #3e4b5b);}
.form-check .form-check-label input[type="radio"]:checked + .input-helper:after{transform: scale(1.3);}
.form-check-dark.form-check label input[type=checkbox]:checked+.input-helper:before, .form-check-dark.form-check label input[type=radio]:checked+.input-helper:before{background: #fff;}

.button-switch{height: 100%;}
.accordion .card .card-header *{    font-family: 'Sukhumvit Set','Kanit', sans-serif;font-weight: 600;}
.package-data #accordion-5 .card .card-header .accordion-title{font-size: 1em;width: 100%;float: left;}
.package-data #accordion-5 .card .card-header .accordion-title h2{margin: 0;padding: 0;font-size: 1.4em !important;font-weight: bold !important;    line-height: 1;}
.package-data #accordion-5 .card .card-header {justify-content: space-between;}
.package-data #accordion-5 .card .card-header .acc-header-btn{width: 100%;display: flex; align-items: center;justify-content: end;}
.package-data #accordion-5 .card .card-header .acc-header-btn a{background: #fff;border:1px solid #fff;padding: 7px 25px;border-radius: 50px;color: #000;height: auto;margin: 0;margin-left: 10px;}
.package-data #accordion-5 .card .card-header .acc-header-btn .button-switch .btn {border-radius: 50px;padding: 7px 40px 7px 15px;height: 35px !important;font-size: 12px;}
.package-data #accordion-5 .card .card-header .acc-header-btn .button-switch .btn label{display: flex; align-items: center;}
.package-data #accordion-5 .card .card-header .acc-header-btn .button-switch span.btn {border-radius: 50px;padding: 0;width: 25px;height: 25px!important;top: 50%;right: 20px; transform: translateY(-50%);background-color: #666;}
.package-data #accordion-5 .card .card-header .acc-header-btn .button-switch .off .btn {padding: 7px 15px 7px 40px;}
.package-data #accordion-5 .card .card-header .acc-header-btn .button-switch .off span.btn{right: -20px;    padding: 0; }
.acc-header-btn .button-switch .btn-info{background-color:#fff;border-color:#fff;color: #000;}
.acc-header-btn .button-switch .btn.btn-outline-secondary.off{background-color:#fff;border-color:#fff;color: #000;}
.acc-header-btn .button-switch .btn.btn-outline-secondary.off:hover{background:#fff !important;border-color:#fff;color: #000 !important;}
.acc-header-btn .button-switch  .btn-outline-secondary, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-cancel{    color: #000;border-color: #fff;}
.acc-header-btn .button-switch:hover{border-color: #fff;} 
.btn-outline-secondary:hover, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-cancel:hover, .btn-outline-secondary:focus, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-cancel:focus, .btn-outline-secondary:active, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-cancel:active{background: #fff !important; color: #000!important;}
.package-data #accordion-5 .card .card-header .acc-header-btn a[aria-expanded="true"]:before {display: none;}
.package-data #accordion-5 .card .card-header .acc-header-btn a[aria-expanded="false"]:before {display: none;}
.lineW{height: 35px;width: 2px;background-color: #fff;margin-left:10px;}

.acc-body{padding: 20px;}
.box-form-inner{border:1px solid #DDDDDD;padding: 20px;border-radius: 5px;margin-bottom: 20px;}
.form-group.box-form-inner label{margin-bottom: 0;}
.box-select-inner{border:1px solid #DDDDDD;padding: 20px;border-radius: 5px;margin-bottom: 20px;height: 260px;max-height: 260px;overflow-y: scroll;}
.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:after{background: linear-gradient(89deg, #5e7188, #3e4b5b);}
.box-select-topup{width: 100%;float: left;display: flex;justify-content: space-between;padding:10px 20px;cursor:move!important; border: 2px solid #eee; margin-bottom: 5px ; }
.box-select-topup p{margin-bottom: 0;}
.gen-topup{height: 260px;border:1px solid #DDDDDD; padding: 10px !important;border-radius: 5px; margin-top: 30px;overflow:hidden;overflow-y: scroll;}
.acc-toggle img{margin-left: 5px; width: 8px;position: relative;top: -0.5px;}
.form-nobr{padding: 0 !important; border: none;}
.gen-topup li { list-style: none;}

/* .w-max-content{width: max-content;} */
/* Responsive */
@media (min-width: 1919.98px){
  .col-xxl-3-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
      flex: 0 0 37.5%;
      max-width: 37.5%;
  }
  .col-xxl-3, .lightGallery .image-tile {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (max-width: 1439.98px){
  /* .page-position-management {padding:0;} */
}

/* Solution */
.repeater-item-list .drag-cusor {
  display: flex;
  align-items: center;
  padding-right: 15px;
}