.nexcate-wrapper .nexcate-column{ cursor: move;}
.nexcate-wrapper .nexcate-column {position: relative;margin-bottom: 15px;}
.nexcate-wrapper .nexcate-column:before {content: ""; position: absolute;top: 0;left: 15px;width: calc(100% - 30px);height: 100%;border: 1px dotted rgba(0,0,0,0.1);background-color: #f7f8fc;z-index: 0;border-radius: 5px;}
.nexcate-wrapper .nexcate-wrapper { float:left; width:100%;border: 1px dotted rgba(0,0,0,0.1);width: 100%;background-color: #eeeff3;padding:20px;border-radius: 5px;}
.nexcate-wrapper .nexcate-main-box { height: 100%;width: 100%;min-height: 350px;}
.nexcate-wrapper .nexcate-list-box { margin-bottom:0px; float:left; width:100%;}
.nexcate-wrapper .nexcate-list-box:first-child > .nexcate-list  { margin-top:0px;}
.nexcate-wrapper .nexcate-list {border-radius: 5px;padding: 0.6rem .5rem  0.6rem 1rem;border:1px solid #ebedf2;margin-top: 10px;cursor: move;background-color: #fff;position: relative;}
.nexcate-wrapper .nexcate-list:hover .nexcate-tools {  display: block;}
.nexcate-wrapper .nexcate-list:last-child { }
.nexcate-wrapper .nexcate-tools { position:absolute;top: 8px;right: 2px; display:none;}
.nexcate-wrapper .nexcate-tools ul {list-style:none; float:left;}
.nexcate-wrapper .nexcate-tools li { float:left; list-style:none; padding:0 8px; position:relative;top: -5px;}
.nexcate-wrapper .nexcate-tools li:before { content:""; position:absolute; right:0px; top:9px; height:50%; width:1px; background-color:rgba(0,0,0,0.1)}
.nexcate-wrapper .nexcate-tools li a { float:left;font-size: 20px;color: #999;}
.nexcate-wrapper .nexcate-tools li a svg,.nexitor-tools li a img { float:left; width:15px;}
.nexcate-wrapper .nexcate-tools li:last-child:before  { display:none;}
.nexcate-wrapper .close-nexcate svg { fill:#d43840;}

.nexcate-wrapper .border-dash {border-style: dashed;padding: .4rem .5rem;text-align: center;border: 2px dashed #ccc;color: #ccc;}
.nexcate-wrapper .nexcate-sub-box { width: calc(100% - 20px);margin-left: 20px;}
.nexcate-wrapper .nexcate-sub-sub-box { width: calc(100% - 40px);margin-left: 40px;}
.nexcate-wrapper .nexcate-title {}
.nexcate-wrapper .nexcate-title h2{ font-size: 1rem; margin: 0; padding: .4rem .5rem;}
.nexcate-wrapper .nexcate-nexcate-title{ margin: 0; font-size: .9rem; padding: 0px 0;}
.nexcate-wrapper .nexcate-box-btn-bottom{ float: left;width: 100%; text-align: center;padding: .3rem 0;background-color: #eee;}
.nexcate-wrapper .nexcate-btn-addmenu  { display: inline-block;}
.nexcate-wrapper .nexcate-btn-addmenu span { width:26px; height:26px; display:flex; align-items:center; justify-content:center; background-color:#cbd2db; border-radius:100%; }
.nexcate-wrapper .nexcate-btn-addmenu svg,.nexcate-btn-addmenu img { fill:#fff; width:14px;height:14px; }
.nexcate-wrapper .nexcate-btn-addmenu:hover  span { background-color:#344046;}

.nexcate-wrapper .ui-sortable-placeholder {border: 1px dotted #ccc;height: 43px;	width: 50px;background: #eeeff3; margin-top:10px;}
.nexcate-wrapper .no-item-lv1{opacity: 0;position: absolute;height: 40px;width: 60px;left: 110px;top: 0;}
.nexcate-wrapper .no-item-lv2{opacity: 0;position: absolute;height: 40px;width: 60px;left:  0px;top: 0;}
.non-active{ opacity: 0.4; }
