.content-row-control ul li:first-child {display: none;}
.section-content * { transition:ease all .4s;}
.content-row { float:left; width:100%; background-color:#fff; padding:15px 15px 0 15px; border-radius:5px; position:relative;}
.content-row .row { margin-left:-7px; margin-right:-7px; }
.content-row .col { padding-left:7px; padding-right:7px; }
.content-row-control  { position:absolute;top: -30px;right: 0px; background-color:#fff; border-radius:20px 20px 0 0 ; padding:13px 5px;}
.content-row-control ul {list-style:none; float:left; padding-left:0px;}
.content-row-control li { float:left; list-style:none; padding:0 12px; position:relative;}
.content-row-control li:before { content:""; position:absolute; right:0px; top:0px; height:100%; width:1px; background-color:rgba(0,0,0,0.1)}
.content-row-control li a { float:left;}
.content-row-control li a svg,.content-row-control li a img { float:left; width:20px;}
.content-row-control li:last-child:before  { display:none;}
.close-content-row svg { fill:#d43840;}



.box-addcolumn { float:left; width:100%; background-color:#505561; padding:20px 15px; border-radius:5px; text-align:center;}
.addcolumn { display:inline-block;}
.addcolumn-list { float:left;padding:8px; background-color:#fff;border-radius:5px; margin:0 10px; position:relative; cursor:pointer; }
.addcolumn-style { float:left; clear:both; margin-top:8px; cursor:pointer;}
.addcolumn-style:first-child { margin-top:0px;}
.addcolumn-style span { background-color:#9ca7b3; height:30px; float:left;}
.addcolumn-hover { position:absolute; top:0px; left:0px;padding:8px; background-color:#fff;border-radius:5px; display:none;}
.addcolumn-1 span { width:calc(50px - 2px); margin:0 1px;}
.addcolumn-2-11 span { width:calc(30px - 2px); margin:0 1px;}
.addcolumn-2-13 span:first-child { width:calc(15px - 2px); margin:0 1px;}
.addcolumn-2-13 span:last-child { width:calc(45px - 2px); margin:0 1px;}
.addcolumn-2-31 span:first-child { width:calc(45px - 2px); margin:0 1px;}
.addcolumn-2-31 span:last-child { width:calc(15px - 2px); margin:0 1px;}
.addcolumn-3 span { width:calc(20px - 2px); margin:0 1px;}
.addcolumn-4 span { width:calc(15px - 2px); margin:0 1px;}
.addcolumn-list:hover { box-shadow:0 0 20px 0 rgba(0,0,0,0.4);}
.addcolumn-list:hover .addcolumn-hover { box-shadow:0 0 20px 0 rgba(0,0,0,0.4); display:block;}
.addcolumn-style:hover span { background-color:#344046; }
.addcolumn-text { color:#fff; font-size:12px; margin-top:10px; text-transform:uppercase;}

.nexitor-row { position:relative;}
.nexitor-col { position:relative;}
.btn-addelement  {position:absolute; bottom:-5px; left:50%; margin-left:-13px; z-index:1; }
.btn-addelement span { width:26px; height:26px; display:flex; align-items:center; justify-content:center; background-color:#cbd2db; border-radius:100%; }
.btn-addelement svg,.btn-addelement img { fill:#fff; width:14px;height:14px; }
.btn-addelement:hover  span { background-color:#344046;}
.box-element { float:left; width:100%; background-color:#e0e8f2; padding:15px 15px 0 15px; margin-bottom:15px; border-radius:5px; text-align:center; display:flex; align-items:center; justify-content:center;}
.group-element { display:inline-block; margin-left:-5px; margin-right:-5px;}
.element-list { cursor:pointer; float:left; width:85px; height:85px; text-align:center; display:flex; align-items:center; justify-content:center; background-color:#fff;border-radius:5px; margin:0 5px; text-align:center; margin-bottom:15px;}
.main-element-icon { display:inline-block;text-align:center;}
.main-element-icon img { height:35px; float:left;}
.main-element-text { color:#727579; float:left; width:100%; text-align:center; font-size:11px; margin-top:10px; text-transform:uppercase; margin-top:2px;font-weight:bold;}
.element-list:hover { box-shadow:0 0 20px 0 rgba(0,0,0,0.2);}
.element-list:hover .main-element-text { color:#404548}

.col-sm-4 > .box-element .element-list { width:calc(50% - 10px);}
.col-sm-3 > .box-element .element-list { width:calc(50% - 10px);}

.add-element { display:block;width: 100%;}

.box-nexitor { border-radius:5px; border:2px solid #e0e8f2; margin-bottom:15px;}
.nexitor-head { width:100%; padding:3px; background-color:#e0e8f2; height:40px; position:relative;}
.nexitor-headLeft { float:left;}
.nexitor-headLeft-logo { float:left; margin-left:-4px;}
.nexitor-headLeft-logo img { height:45px;}
.nexitor-headRight { }
.box-nexitor:hover .nexitor-tools { display:block; }
.nexitor-tools { position:absolute;top: 9px;right: 2px; display:none;}
.nexitor-tools ul {list-style:none; float:left;}
.nexitor-tools li { float:left; list-style:none; padding:0 8px; position:relative;}
.nexitor-tools li:before { content:""; position:absolute; right:0px; top:0px; height:100%; width:1px; background-color:rgba(0,0,0,0.1)}
.nexitor-tools li a { float:left;}
.nexitor-tools li a svg,.nexitor-tools li a img { float:left; width:20px;}
.nexitor-tools li:last-child:before  { display:none;}
.close-nexitor svg { fill:#d43840;}


.nexitor-body { width:100%; padding:20px; background-color:#fbfcff;}
.nexitor-body-input { width:100%;}
.nexitor-body-input > label.text-mute { font-size:12px; color:#9c9fa6;}
.nexitor-body-input input  { font-size:14px; padding:10px 10px; width:100%; border:0px; /*border:1px solid #fff;*/ border:1px solid #e0e8f2; margin-bottom:0px;text-shadow: 0 0 10px rgb(0 0 0 / 25%);}
.nexitor-body-input input:focus { border:1px solid #e0e8f2;}
.nexitor-body-textarea .nexitor-textarea  {text-shadow: 0 0 10px rgb(0 0 0 / 25%); font-family: 'gt_walsheim_promedium','true_mediumregular';}
.nexitor-body-textarea .nexitor-textarea h1,
.nexitor-body-textarea .nexitor-textarea h2,
.nexitor-body-textarea .nexitor-textarea h3,
.nexitor-body-textarea .nexitor-textarea h4,
.nexitor-body-textarea .nexitor-textarea h5,
.nexitor-body-textarea .nexitor-textarea h6,
.nexitor-body-textarea .nexitor-textarea p,
.nexitor-body-textarea .nexitor-textarea span {text-shadow: 0 0 10px rgb(0 0 0 / 25%); font-family: 'gt_walsheim_promedium','true_mediumregular';margin-bottom: 0;}
.nexitor-body-textarea textarea  { font-size:14px; padding:10px 10px; width:100%; border:0px; border:1px solid #fff; height:150px;}
.nexitor-body-textarea textarea:focus { border:1px solid #e0e8f2;}
/*.nexitor-type-title .nexitor-body-input input  { font-size:20px;padding:5px 10px;}*/
.nexitor-used { float:left; margin-left:10px;}
.nexitor-used-list { width:32px; height:32px; float:left; margin-right:5px; background-color:#3a454b; border-radius:5px; display:flex; align-items:center; justify-content:center; transition:ease all .4s;}
.nexitor-used-list svg,.nexitor-used-list img { width:80%; fill:#ffffff; transition:ease all .4s;}

.nexitor-body-type { float:left; width:100%; margin-bottom:10px;}
.nexitor-body-type-list { float:left; margin-right:20px; display:flex; align-items:center;}
.nexitor-body-type-list a { float:left; background-color:#e0e8f2; border-radius:5px; padding:5px 10px 5px 2px;display: flex; align-items: center; }
.nexitor-body-type-list a:hover { text-decoration:none;}
.nexitor-body-type-list a.active { box-shadow:0 0 0 2px rgba(0,0,0,0.2) inset; }
.nexitor-body-type-list img { float:left; width:40px; margin-right:5px;}
.nexitor-body-type-list span { color:#727579; font-size: 11px;text-transform: uppercase;font-weight: bold; position:relative;}

.nexitor-body-form { display:block;}
.nexitor-body-form > div { margin-bottom:10px;}
.nexitor-body-form > div:last-child { margin-bottom:0px; }

.section-nexitorPopup { position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; display:none;}
.nexitorPopup-bg { position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:rgba(255,255,255,0.9);}
.nexitorPopup-close { position:absolute; right: 15px;top: 12px; }
.nexitorPopup-close svg,.nexitorPopup-close img { width:20px; height:20px; fill:#d43840;}
.nexitorPopup-container { width:450px; margin-left:-225px; position:absolute; top:50%; left:50%; transform:translateY(-50%); background-color:#fff; border:2px solid #e0e8f2; border-radius:5px;}
.nexitorPopup-content-head { float:left; width:100%; background-color:#e0e8f2; padding:8px 6px; display:flex; align-items:center;}
.nexitorPopup-content-head .nexitorPopup-content-headtitle { display:flex; align-items:center; }
.nexitorPopup-content-head img { height:32px;}
.nexitorPopup-content-head h2 { font-size:15px; margin:0px; margin-left:10px; text-transform:uppercase;}
.nexitorPopup-content-body { float:left; width:100%; padding:20px;}
.nexitorPopup-content-list { float:left; width:100%; margin-bottom:20px;}
.nexitorPopup-content-list:last-child { margin-bottom:0px;}
.nexitorPopup-content-body-title { font-size:14px; margin-bottom:10px; font-weight:bold; }
.nexitorPopup-content-body-choice,
.nexitorPopup-content-body-input { float:left; width:100%;}
.nexitor-choice { width:32px; height:32px; float:left; margin-right:5px; background-color:#f3f6fa; border-radius:5px; display:flex; align-items:center; justify-content:center; transition:ease all .4s;}
.nexitorPopup-content-body-input input  { font-size:14px; padding:10px 10px; width:100%; border:0px;  border:1px solid #e0e8f2;}
.nexitor-choice svg,.nexitor-choice img { width:100%; fill:#3a454b; transition:ease all .4s;}
.nexitor-choice.active, .nexitor-choice:hover { background-color:#3a454b;}
.nexitor-choice.active svg, .nexitor-choice:hover svg { fill:#ffffff;}

.nexitorPopup-content .nexitorPopup-container { width:800px; margin-left:-400px;}


.nexitorPopup-content-footer { float:left; width:100%; padding:20px; background-color:#f3f6fa; text-align:center;}
.nexitorPopup-content-footer div { display:inline-block;}

.font-underline{ text-decoration: underline;}
.install-nexitor{border: 1px dotted rgba(0,0,0,0.1); width:100%; background-color:#eeeff3;padding-top: 40px; padding:3rem 1.25rem 1.25rem; border-radius:5px;}
.install-nexitor > textarea { opacity:0;}
.install-nexitor > .box-layer { margin-top:-28px;}
.install-nexitor > .box-layer > .content-row:first-child { margin-top:28px;}

.add-element {}
.add-element .box-nexitor:last-child { margin-bottom:0px;}
.hold-space {float:left; width:100%; border:2px dotted #e0e8f2; border-radius:8px; margin-bottom:20px; padding:5px 5px 5px 5px; position:relative; min-height:140px;}
.hold-space:before { display:none; content:"Drop your content"; position:absolute; bottom:12px; left:0px; width:100%; text-align:center; font-size:14px; color:#c1c7d0}
.nexitor-modal .close { opacity:1; position:absolute; right:0px; top:-30px; z-index:1}
.nexitor-modal .close svg { width:25px; height:25px; fill:#fff;  }

.nexitor-preview-here { width:100%; background-color:#ccc; padding:20px; border-radius:10px; float:left;}
.nexitor-preview-here:before { content:"Please wait...."; padding:50px 0; text-align:center; color:#666; float:left; width:100%;}

.nexitor-preview-here.before_enable:before { display:block;}
.nexitor-preview-here.before_enable.before_disable:before { display:none;}
/*-------- STYLE TO FRONT END --------*/

.nexitor-body-input input.h1 { font-size:40px; line-height:1.2;}
.nexitor-body-input input.h2 { font-size:35px; line-height:1.2;}
.nexitor-body-input input.h3 { font-size:32px; line-height:1.2;}
.nexitor-body-input input.h4 { font-size:28px; line-height:1.2;}
.nexitor-body-input input.h5 { font-size:24px; line-height:1.2;}
.nexitor-body-input input.h6 { font-size:20px; line-height:1.2;}
.nexitor-textarea { font-size:16px;}
.nexitor-textarea p { font-size:16px;}

/*.box-content { margin-bottom:15px;}
.box-content h1 span,.box-content h2 span,.box-content h3 span,.box-content h4 span,.box-content h5 span,.box-content h6 span { color:#ed1c24;}
.box-content h1 { font-size:40px; line-height:1.4; color:#084ea6 }
.box-content h2 { font-size:35px; line-height:1.4; color:#084ea6 }
.box-content h3 { font-size:32px; line-height:1.4; color:#084ea6 }
.box-content h4 { font-size:28px; line-height:1.4; color:#084ea6 }
.box-content h5 { font-size:24px; line-height:1.4; color:#084ea6 }
.box-content h6 { font-size:20px; line-height:1.4; color:#084ea6 }
.box-content p { margin-bottom:0px; font-size:16px; }
.box-content div { margin-bottom:0px; font-size:16px; }
.box-content ul { list-style:outside; padding-left:20px;}
.box-content img { max-width:100%;}*/

/*
 |*******************************************************************************************
 | CONTENT
 |*******************************************************************************************
*/
.font-weight-bold { font-weight:normal!important;}
.box-content  { float:left; width:100%; font-size:1em; color:#222; line-height:1.5; position:relative; font-family: 'gt_walsheim_promedium','true_mediumregular'; }
.box-content h1	{ font-size:3.8em;  color:#ff301c;  line-height:1; margin-bottom: 15px;}
.box-content h2	{ font-size:2.5em;  color:#ff301c;  line-height:1;  margin-bottom: 15px;}
.box-content h3	{ font-size:2.15em;  color:#ff301c;  line-height:1;  margin-bottom: 15px;}
.box-content h4	{ font-size:1.8em;  color:#ff301c;  line-height:1;  margin-bottom: 15px;}
.box-content h5	{ font-size:1.43em;  color:#ff301c;  line-height:1;  margin-bottom: 15px;}
.box-content h6	{ font-size:1.08em;  color:#ff301c;  line-height:1; margin-bottom: 15px;}
.box-content h1 ,.box-content h2 ,.box-content h3 ,.box-content h4 ,.box-content h5 ,.box-content h6  { color:#ff301c;padding-top: .1em; padding-bottom:.06em; margin-bottom:0px;}
.box-content h1.font-weight-bold ,.box-content h2.font-weight-bold  ,.box-content h3.font-weight-bold  ,.box-content h4.font-weight-bold  ,.box-content h5.font-weight-bold  ,.box-content h6.font-weight-bold  {font-family: 'gt_walsheim_problack','true_boldregular'; }

.cnt-white .box-content { color:#fff;}
.box-content p img { vertical-align:middle;}

.box-content h1	{ font-size:3.8em; }
.box-content h2	{ font-size:3.2em;}
.box-content h3	{ font-size:2.55em; }
.box-content h4	{ font-size:2em; }
.box-content h5	{ font-size:1.43em; }
.box-content h6	{ font-size:1.08em; }

.box-content.title-style { margin-bottom:20px;}
.box-content.title-style h1 { margin-bottom:0px;}

.tt-allwhite .box-content h1,
.tt-allwhite .box-content h2,
.tt-allwhite .box-content h3,
.tt-allwhite .box-content h4,
.tt-allwhite .box-content h5,
.tt-allwhite .box-content h6 { color:#fff;}

.tt-allblack .box-content h1,
.tt-allblack .box-content h2,
.tt-allblack .box-content h3,
.tt-allblack .box-content h4,
.tt-allblack .box-content h5,
.tt-allblack .box-content h6 { color:#222;}


.box-content h1 span,.box-content h2 span,.box-content h3 span,.box-content h4 span,.box-content h5 span,.box-content h6 span { color:#ff301c;}
.box-content p { line-height:1; margin-bottom: 15px;}
.box-content a:not([class*=btn]) { color:#ff301c; text-decoration:underline;}
.box-content a.btn {}
.box-content a:not([class*=btn]):hover { text-decoration:underline;}
.box-content iframe	{ margin-bottom: 15px; border:none; display:block;max-width: 100%;}
.box-content p img {  margin-bottom:0px;}
.box-content p span { color:#ff301c;}
.box-content img { max-width:100%; margin-bottom: 15px;}
.box-content ol	{ display:block; list-style:decimal outside; margin-bottom: 15px; padding-left:20px; }
.box-content ul	{ display:block; list-style:none outside ;margin-left:0px; margin-bottom: 15px; padding-left:20px; position:relative;}
.box-content ul li:before { content:""; position:absolute;left: -17px;top: 6px; width:6px; height:6px; border-radius:100%; background-color:#ff301c;}
.box-content li	{ padding-bottom:3px; position:relative;}
.box-content img {}
.box-content hr { border-top: 2px solid #ff301c; width:60%; margin-bottom:30px; margin-top:20px;}
.box-content b, .box-content strong {font-family: 'gt_walsheim_problack','true_boldregular';}

.box-content-button {font-size:2em; }
.box-content-button .btn { background-color:#fff; border-radius:50px; text-align:center; padding:0.5em 2em; color:#f10000;font-family: 'true_bold_specialregular'; font-size:1.2em; line-height:0.6;}
.box-content-button {}
.box-content-button.button-hoz { display:inline-block; width:auto;}
.box-content-button.button-hoz + .box-content-button.button-hoz { margin-left:10px;}
.box-content-button.button-hoz.button-col-none { width:auto; }
.box-content-button.button-hoz.button-col-1 { width:100%; }
.box-content-button.button-hoz.button-col-2 { width:50%; }
.box-content-button.button-hoz.button-col-3 { width:33%; }
.box-content-button.button-hoz.button-col-4 { width:25%; }
.box-content-button .btn:hover { background-color:#e62a29; color:#fff; }
.box-content-button .btn:focus { box-shadow:none;}
.box-content-button .btn:hover span { background:none; color:#fff;-webkit-text-fill-color:inherit;}
.box-content-button .btn span { background: #B63A8B;
background: -webkit-linear-gradient(to top, #B63A8B 0%, #E52C30 100%);
background: -moz-linear-gradient(to top, #B63A8B 0%, #E52C30 100%);
background: linear-gradient(to top, #B63A8B 0%, #E52C30 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
.box-content-button img { margin-bottom:0px;}

.box-content-space { height:15px; float:left; width:100%;}
.box-content-editor h1 ,.box-content-editor h2 ,.box-content-editor h3, .box-content-editor h4 ,.box-content-editor h5 ,.box-content-editor h6 {-webkit-text-fill-color: inherit; background:none; margin-bottom:15px;}
