
.drag-wrapper .drag-column{ cursor: move;}
.drag-wrapper .drag-column {position: relative;margin-bottom: 15px;}
.drag-wrapper .drag-column:before {content: ""; position: absolute;top: 0;left: 15px;width: calc(100% - 30px);height: 100%;border: 1px dotted rgba(0,0,0,0.1);background-color: #f7f8fc;z-index: 0;border-radius: 5px;}
.drag-wrapper  { float:left; width:100%;border: 1px dotted rgba(0,0,0,0.1);width: 100%;background-color: #eeeff3;padding:20px;border-radius: 5px;}
.drag-wrapper .close-nexu svg { fill:#d43840;}

.non-active > a { opacity: 0.4; }

.drag-box {float: left; width:100%;color: #333; line-height:1.5;}
.drag-box ul {margin: 0;padding: 0;list-style: none;}
.drag-box ul.drag-item-list a{ color: #333;}
.drag-box ul.drag-item-list li { position:relative;display: inline-block;margin-bottom: 5px;border-radius: 5px;border: 1px solid #ebedf2; background: #fff;float:left; width:100%;}
.drag-box ul.drag-item-list > li a {display: block;text-transform: uppercase;text-decoration: none;padding: 0.7rem .5rem 0.5rem 1rem;}
.drag-box ul.drag-item-list > li a:hover {cursor: move;}
.drag-box ul.drag-item-list ul { float:left; width:100%; padding-left: 15px;padding-right: 15px; padding-bottom:10px;}
.drag-box li.drag-highlight { border: 1px dashed #ccc !important;background: #f5f5f5;}
.drag-box li:hover .nexu-tools { display:block;}
.nexu-tools { position:absolute;top: 10px;right: 2px; display:none; cursor:pointer;}
.nexu-tools > div  {list-style:none; float:left;}
.nexu-tools .nexu-tools-list { float:left; list-style:none; padding:0 8px; position:relative;top: -5px;}
.nexu-tools .nexu-tools-list:before { content:""; position:absolute; right:0px; top:9px; height:50%; width:1px; background-color:rgba(0,0,0,0.1)}
.nexu-tools .nexu-tools-list a { float:left;font-size: 20px;color: #999!important; padding:0px!important;cursor:pointer!important;}
.nexu-tools .nexu-tools-list a svg,.nexitor-tools li a img { float:left; width:15px;}
.nexu-tools .nexu-tools-list:last-child:before  { display:none;}

.nexu-tools .nexu-tools-list .drag-cusor{ cursor: move;}

.close-nexu svg { fill:#d43840;}